## Cleaning the Data
-----

### Setup:
---

In [1]:
# Import dependencies
import pandas as pd
import datetime as dt

In [2]:
# Grab the CSV
athelete_stats_df = pd.read_csv("initial_unclean_csv/US_unclean_data.csv", encoding="utf8")

In [3]:
# Display as dataframe
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height,weight,birthdate,nationality
0,Patrick Agyemang,Charlotte FC,MLS,Forward,33.0,2,0,3,0,8,3,0,0,6,https://a.espncdn.com/i/headshots/soccer/playe...,"6' 4""",196 lbs,2000-11-07T08:00Z,Ghana
1,David Bingham,Portland Timbers,MLS,Goalkeeper,1.0,0,0,2,0,0,0,49,6,29,https://a.espncdn.com/i/headshots/soccer/playe...,"6' 2""",183 lbs,1989-10-19T07:00Z,USA
2,Ashley Westwood,Charlotte FC,MLS,Midfielder,8.0,3,4,6,0,18,3,6,6,45,https://a.espncdn.com/i/headshots/soccer/playe...,"5' 9""",174 lbs,1990-04-01T08:00Z,England
3,Sean Davis,Nashville SC,MLS,Midfielder,54.0,0,1,0,0,11,1,18,8,21,https://a.espncdn.com/i/headshots/soccer/playe...,"6' 0""",163 lbs,1993-02-08T08:00Z,USA
4,Steve Clark,Houston Dynamo FC,MLS,Goalkeeper,12.0,0,2,5,0,0,0,90,13,40,https://a.espncdn.com/i/headshots/soccer/playe...,"6' 2""",190 lbs,1986-04-14T08:00Z,USA

### Cleaning:
---

#### Convert Height

In [4]:
# Split current heights
split_heights = athelete_stats_df["height"]
split_heights = split_heights.str.split("'", n=1, expand=True)

In [5]:
# Remove everthing but the numbers from the feet
# Convert to float for math
heights_feet = split_heights[0].astype("float")
heights_feet.head(5)

0    6.0
1    6.0
2    5.0
3    6.0
4    6.0
Name: 0, dtype: float64

In [6]:
# Remove everything but the nubmers from the inches
heights_inches = split_heights[1]

split_heights_inches = heights_inches.str.split('"', n=1, expand=True)

# Convert to float for math
split_heights_inches = split_heights_inches[0].astype("float")
heights_inches = split_heights_inches
heights_inches.head(5)

0    4.0
1    2.0
2    9.0
3    0.0
4    2.0
Name: 0, dtype: float64

In [7]:
# Converting inches to feet
inches_in_feet = []
for measurement in heights_inches:
    cur_feet = measurement/12
    inches_in_feet.append(cur_feet)

In [8]:
# Create dataframe with new heights colums, both in feet
split_heights_in_ft = {
    "heights_ft1": heights_feet,
    "heights_ft2": inches_in_feet
}
split_heights_in_ft_df = pd.DataFrame(split_heights_in_ft)
split_heights_in_ft_df.head(5)

   heights_ft1  heights_ft2
0          6.0     0.333333
1          6.0     0.166667
2          5.0     0.750000
3          6.0     0.000000
4          6.0     0.166667

In [9]:
# Adding feet and converted inches column to get new total feet measurments column with decimals
new_height = split_heights_in_ft_df["heights_ft1"] + split_heights_in_ft_df["heights_ft2"]

# Round the combined height
new_height = round(new_height,2)

In [10]:
# Display cleaned data
new_height.head(5)

0    6.33
1    6.17
2    5.75
3    6.00
4    6.17
dtype: float64

#### Convert Weight

In [11]:
# Grab uncleaned weight
uncleaned_weight = athelete_stats_df["weight"]
uncleaned_weight.head(5)

0    196 lbs
1    183 lbs
2    174 lbs
3    163 lbs
4    190 lbs
Name: weight, dtype: object

In [12]:
# Split weights
split_weights = uncleaned_weight.str.split(' ', n=1, expand=True)
split_weights.head(5)

     0    1
0  196  lbs
1  183  lbs
2  174  lbs
3  163  lbs
4  190  lbs

In [13]:
# Display cleaned data
new_weight = split_weights[0]
new_weight.head(5)

0    196
1    183
2    174
3    163
4    190
Name: 0, dtype: object

#### Convert Dates

In [14]:
# Split Current Dates
split_birthdates = athelete_stats_df["birthdate"]
split_birthdates = split_birthdates.str.split("T", n=1, expand=True)

In [15]:
# Select only the part we want to keep
split_birthdates = split_birthdates [0]
split_birthdates.head(5)

0    2000-11-07
1    1989-10-19
2    1990-04-01
3    1993-02-08
4    1986-04-14
Name: 0, dtype: object

In [16]:
# Convert the dates to datetime
split_birthdates = pd.to_datetime(split_birthdates)
split_birthdates.head(5)

0   2000-11-07
1   1989-10-19
2   1990-04-01
3   1993-02-08
4   1986-04-14
Name: 0, dtype: datetime64[ns]

In [17]:
# Check dates converted to timestamps
type (split_birthdates[0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
# Display cleaned data
new_birthdates = split_birthdates
new_birthdates.head(5)

0   2000-11-07
1   1989-10-19
2   1990-04-01
3   1993-02-08
4   1986-04-14
Name: 0, dtype: datetime64[ns]

#### Remove "Goals Against" and "Clean Sheets" for Non-Goalies

In [19]:
# Remove goals against and clean sheets for non-goalies
new_goals_against = []
new_clean_sheets = []

for index, row in athelete_stats_df.iterrows():
    cur_position = row["position"]
    cur_goals_against = row["goals_against"]
    cur_clean_sheets = row["clean_sheets"]
    
    if cur_position == "Goalkeeper":
        new_goals_against.append(cur_goals_against)
        new_clean_sheets.append(cur_clean_sheets)
    else:
        new_goals_against.append(0)
        new_clean_sheets.append(0)

#### Creating Cleaned Dataframe

In [20]:
# Remove unclean sections from dataframe
athelete_stats_df = athelete_stats_df.drop(["birthdate"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["height"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["weight"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["goals_against"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["clean_sheets"], axis=1)
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,photo_url,nationality
0,Patrick Agyemang,Charlotte FC,MLS,Forward,33.0,2,0,3,0,8,3,0,https://a.espncdn.com/i/headshots/soccer/playe...,Ghana
1,David Bingham,Portland Timbers,MLS,Goalkeeper,1.0,0,0,2,0,0,0,49,https://a.espncdn.com/i/headshots/soccer/playe...,USA
2,Ashley Westwood,Charlotte FC,MLS,Midfielder,8.0,3,4,6,0,18,3,6,https://a.espncdn.com/i/headshots/soccer/playe...,England
3,Sean Davis,Nashville SC,MLS,Midfielder,54.0,0,1,0,0,11,1,18,https://a.espncdn.com/i/headshots/soccer/playe...,USA
4,Steve Clark,Houston Dynamo FC,MLS,Goalkeeper,12.0,0,2,5,0,0,0,90,https://a.espncdn.com/i/headshots/soccer/playe...,USA

In [21]:
# Add clean sections to dataframe
athelete_stats_df["birthdate"] = new_birthdates
athelete_stats_df["height_(ft)"] = new_height
athelete_stats_df["weight_(lbs)"] = new_weight
athelete_stats_df["goals_against"] = new_goals_against
athelete_stats_df["clean_sheets"] = new_clean_sheets
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,photo_url,nationality,birthdate,height_(ft),weight_(lbs),goals_against,clean_sheets
0,Patrick Agyemang,Charlotte FC,MLS,Forward,33.0,2,0,3,0,8,3,0,https://a.espncdn.com/i/headshots/soccer/playe...,Ghana,2000-11-07,6.33,196,0,0
1,David Bingham,Portland Timbers,MLS,Goalkeeper,1.0,0,0,2,0,0,0,49,https://a.espncdn.com/i/headshots/soccer/playe...,USA,1989-10-19,6.17,183,29,6
2,Ashley Westwood,Charlotte FC,MLS,Midfielder,8.0,3,4,6,0,18,3,6,https://a.espncdn.com/i/headshots/soccer/playe...,England,1990-04-01,5.75,174,0,0
3,Sean Davis,Nashville SC,MLS,Midfielder,54.0,0,1,0,0,11,1,18,https://a.espncdn.com/i/headshots/soccer/playe...,USA,1993-02-08,6.00,163,0,0
4,Steve Clark,Houston Dynamo FC,MLS,Goalkeeper,12.0,0,2,5,0,0,0,90,https://a.espncdn.com/i/headshots/soccer/playe...,USA,1986-04-14,6.17,190,40,13

In [22]:
# Reorder dataframe
athelete_stats_df = athelete_stats_df[["player_name",
                                       "team",
                                       "league",
                                       "position",
                                       "jersey_number",
                                       "goals",
                                       "assists",
                                       "yellow_cards",
                                       "red_cards",
                                       "shots",
                                       "shots_on_goal",
                                       "saves",
                                       "clean_sheets",
                                       "goals_against",
                                       "photo_url",
                                       "height_(ft)",
                                       "weight_(lbs)",
                                       "birthdate",
                                       "nationality"
                                       ]]
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality
0,Patrick Agyemang,Charlotte FC,MLS,Forward,33.0,2,0,3,0,8,3,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.33,196,2000-11-07,Ghana
1,David Bingham,Portland Timbers,MLS,Goalkeeper,1.0,0,0,2,0,0,0,49,6,29,https://a.espncdn.com/i/headshots/soccer/playe...,6.17,183,1989-10-19,USA
2,Ashley Westwood,Charlotte FC,MLS,Midfielder,8.0,3,4,6,0,18,3,6,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.75,174,1990-04-01,England
3,Sean Davis,Nashville SC,MLS,Midfielder,54.0,0,1,0,0,11,1,18,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.00,163,1993-02-08,USA
4,Steve Clark,Houston Dynamo FC,MLS,Goalkeeper,12.0,0,2,5,0,0,0,90,13,40,https://a.espncdn.com/i/headshots/soccer/playe...,6.17,190,1986-04-14,USA

### Creating Dataframes for SQL Tables:
---

#### Creating Leagues Dataframe

In [23]:
leagues = athelete_stats_df["league"].unique()
leagues_df = pd.DataFrame(leagues)
leagues_df = leagues_df.reset_index()
leagues_df = leagues_df.rename(columns={"index":"league_id", 0:"league"})
leagues_df["league_id"] = leagues_df["league_id"]+1
leagues_df["league_id"] = ["lg" + str(league_id) for league_id in leagues_df["league_id"]]
leagues_df

  league_id league
0       lg1    MLS
1       lg2   NWSL

#### Creating Teams Dataframe

In [24]:
teams = athelete_stats_df["team"].unique()
teams_df = pd.DataFrame(teams)
teams_df = teams_df.reset_index()
teams_df = teams_df.rename(columns={"index":"team_id", 0:"team"})
teams_df["team_id"] = teams_df["team_id"]+1
teams_df["team_id"] = ["tm" + str(team_id) for team_id in teams_df["team_id"]]
teams_df.head(5)

  team_id               team
0     tm1       Charlotte FC
1     tm2   Portland Timbers
2     tm3       Nashville SC
3     tm4  Houston Dynamo FC
4     tm5     Inter Miami CF

In [25]:
##UNFINISHED##
# Section completed later

#### Creating Positions Dataframe

In [26]:
positions = athelete_stats_df["position"].unique()
positions_df = pd.DataFrame(positions)
positions_df = positions_df.reset_index()
positions_df = positions_df.rename(columns={"index":"position_id", 0:"position"})
positions_df["position_id"] = positions_df["position_id"]+1
positions_df["position_id"] = ["pos" + str(position_id) for position_id in positions_df["position_id"]]
positions_df

  position_id    position
0        pos1     Forward
1        pos2  Goalkeeper
2        pos3  Midfielder
3        pos4    Defender

#### Creating Nationalities Dataframe

In [27]:
nationalities = athelete_stats_df["nationality"].unique()
nationalities_df = pd.DataFrame(nationalities)
nationalities_df = nationalities_df.reset_index()
nationalities_df = nationalities_df.rename(columns={"index":"nationality_id", 0:"nationality"})
nationalities_df["nationality_id"] = nationalities_df["nationality_id"]+1
nationalities_df["nationality_id"] = ["nat" + str(nationality_id) for nationality_id in nationalities_df["nationality_id"]]
nationalities_df.head(5)

  nationality_id nationality
0           nat1       Ghana
1           nat2         USA
2           nat3     England
3           nat4  Costa Rica
4           nat5      Mexico

#### Creating Player Data Dataframe

In [28]:
# Add player ID
player_data_df = athelete_stats_df
player_data_df = player_data_df.reset_index()
player_data_df = player_data_df.rename(columns={"index":"player_id"})
player_data_df["player_id"] = player_data_df["player_id"]+1
player_data_df["player_id"] = ["pl" + str(player_id) for player_id in player_data_df["player_id"]]
player_data_df.head(5)

,player_id,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality
0,pl1,Patrick Agyemang,Charlotte FC,MLS,Forward,33.0,2,0,3,0,8,3,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.33,196,2000-11-07,Ghana
1,pl2,David Bingham,Portland Timbers,MLS,Goalkeeper,1.0,0,0,2,0,0,0,49,6,29,https://a.espncdn.com/i/headshots/soccer/playe...,6.17,183,1989-10-19,USA
2,pl3,Ashley Westwood,Charlotte FC,MLS,Midfielder,8.0,3,4,6,0,18,3,6,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.75,174,1990-04-01,England
3,pl4,Sean Davis,Nashville SC,MLS,Midfielder,54.0,0,1,0,0,11,1,18,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.00,163,1993-02-08,USA
4,pl5,Steve Clark,Houston Dynamo FC,MLS,Goalkeeper,12.0,0,2,5,0,0,0,90,13,40,https://a.espncdn.com/i/headshots/soccer/playe...,6.17,190,1986-04-14,USA

In [29]:
# Add ID columns
player_data_df = pd.merge(player_data_df,teams_df, on=["team"], how="inner")
player_data_df = pd.merge(player_data_df,leagues_df, on=["league"], how="inner")
player_data_df = pd.merge(player_data_df,positions_df, on=["position"], how="inner")
player_data_df = pd.merge(player_data_df,nationalities_df, on=["nationality"], how="inner")
player_data_df

,player_id,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,...,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality,team_id,league_id,position_id,nationality_id
0,pl1,Patrick Agyemang,Charlotte FC,MLS,Forward,33.0,2,0,3,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.33,196,2000-11-07,Ghana,tm1,lg1,pos1,nat1
1,pl697,Kwadwo Opoku,CF Montréal,MLS,Forward,90.0,6,3,1,1,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.58,152,2001-07-13,Ghana,tm17,lg1,pos1,nat1
2,pl825,Joshua Bolma,New England Revolution,MLS,Forward,16.0,0,0,0,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.75,132,2002-04-10,Ghana,tm24,lg1,pos1,nat1
3,pl223,Eugene Ansah,FC Dallas,MLS,Forward,31.0,1,0,0,0,...,0,NaN,NaN,NaN,1994-12-16,Ghana,tm27,lg1,pos1,nat1
4,pl776,Shakur Mohammed,Orlando City SC,MLS,Midfielder,14.0,0,0,0,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.83,159,2003-08-27,Ghana,tm6,lg1,pos3,nat1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,pl358,Aljaz Ivacic,Portland Timbers,MLS,Goalkeeper,31.0,0,0,0,0,...,26,https://a.espncdn.com/i/headshots/soccer/playe...,6.17,181,1993-12-29,Slovenia,tm2,lg1,pos2,nat64
1170,pl745,Aimé Mabika,Toronto FC,MLS,Defender,6.0,0,0,2,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.50,214,1998-08-16,Zambia,tm9,lg1,pos4,nat82
1171,pl83,Steven Beitashour,Colorado Rapids,MLS,Defender,33.0,0,0,0,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.83,172,1987-02-01,Iran,tm14,lg1,pos4,nat30
1172,pl201,Carlos Akapo,San Jose Earthquakes,MLS,Defender,29.0,2,4,3,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.83,152,1993-03-12,Equatorial Guinea,tm18,lg1,pos4,nat49
1173,pl1094,Didi Haracic,Angel City FC,NWSL,Goalkeeper,13.0,0,0,3,0,...,27,https://d2nkt8hgeld8zj.cloudfront.net\images\2...,5.75,NaN,1992-04-12,Bosnia and Herzegovina,tm39,lg2,pos2,nat87

In [30]:
# Drop sections no longer needed
player_data_df = player_data_df.drop(["team"], axis=1)
player_data_df = player_data_df.drop(["league"], axis=1)
player_data_df = player_data_df.drop(["position"], axis=1)
player_data_df = player_data_df.drop(["nationality"], axis=1)

In [31]:
# Reorder dataframe
player_data_df = player_data_df[[
                                "player_id",
                                "player_name",
                                "team_id",
                                "league_id",
                                "position_id",
                                "jersey_number",
                                "goals",
                                "assists",
                                "yellow_cards",
                                "red_cards",
                                "shots",
                                "shots_on_goal",
                                "saves",
                                "clean_sheets",
                                "goals_against",
                                "photo_url",
                                "height_(ft)",
                                "weight_(lbs)",
                                "birthdate",
                                "nationality_id"
                            ]]
player_data_df.head()

,player_id,player_name,team_id,league_id,position_id,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality_id
0,pl1,Patrick Agyemang,tm1,lg1,pos1,33.0,2,0,3,0,8,3,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.33,196,2000-11-07,nat1
1,pl697,Kwadwo Opoku,tm17,lg1,pos1,90.0,6,3,1,1,51,18,2,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.58,152,2001-07-13,nat1
2,pl825,Joshua Bolma,tm24,lg1,pos1,16.0,0,0,0,0,1,0,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.75,132,2002-04-10,nat1
3,pl223,Eugene Ansah,tm27,lg1,pos1,31.0,1,0,0,0,8,4,0,0,0,NaN,NaN,NaN,1994-12-16,nat1
4,pl776,Shakur Mohammed,tm6,lg1,pos3,14.0,0,0,0,0,0,0,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.83,159,2003-08-27,nat1

In [32]:
# Complete teams dataframe
teams_df = pd.merge(teams_df,player_data_df[["team_id","league_id"]], on=["team_id"], how ="left")
teams_df = teams_df.drop_duplicates()
teams_df = teams_df.reset_index(drop=True)
teams_df

   team_id                    team league_id
0      tm1            Charlotte FC       lg1
1      tm2        Portland Timbers       lg1
2      tm3            Nashville SC       lg1
3      tm4       Houston Dynamo FC       lg1
4      tm5          Inter Miami CF       lg1
5      tm6         Orlando City SC       lg1
6      tm7                    LAFC       lg1
7      tm8               Austin FC       lg1
8      tm9              Toronto FC       lg1
9     tm10        New York City FC       lg1
10    tm11     Minnesota United FC       lg1
11    tm12       Atlanta United FC       lg1
12    tm13               LA Galaxy       lg1
13    tm14         Colorado Rapids       lg1
14    tm15       St. Louis CITY SC       lg1
15    tm16     Seattle Sounders FC       lg1
16    tm17             CF Montréal       lg1
17    tm18    San Jose Earthquakes       lg1
18    tm19         Chicago Fire FC       lg1
19    tm20          Real Salt Lake       lg1
20    tm21    Sporting Kansas City       lg1
21    tm22             D.C. United       lg1
22    tm23     Vancouver Whitecaps       lg1
23    tm24  New England Revolution       lg1
24    tm25      Philadelphia Union       lg1
25    tm26           Columbus Crew       lg1
26    tm27               FC Dallas       lg1
27    tm28      New York Red Bulls       lg1
28    tm29           FC Cincinnati       lg1
29    tm30      Portland Thorns FC       lg2
30    tm31            Houston Dash       lg2
31    tm32    Racing Louisville FC       lg2
32    tm33     Kansas City Current       lg2
33    tm34       San Diego Wave FC       lg2
34    tm35           Orlando Pride       lg2
35    tm36                OL Reign       lg2
36    tm37         NJ/NY Gotham FC       lg2
37    tm38       Washington Spirit       lg2
38    tm39           Angel City FC       lg2
39    tm40       Chicago Red Stars       lg2
40    tm41  North Carolina Courage       lg2

#### Correct Data Types

In [33]:
# Check data types
player_data_df.dtypes

player_id                 object
player_name               object
team_id                   object
league_id                 object
position_id               object
jersey_number            float64
goals                      int64
assists                    int64
yellow_cards               int64
red_cards                  int64
shots                      int64
shots_on_goal              int64
saves                      int64
clean_sheets               int64
goals_against              int64
photo_url                 object
height_(ft)              float64
weight_(lbs)              object
birthdate         datetime64[ns]
nationality_id            object
dtype: object

In [34]:
# Set data type for jersey numbers
jersey_int=[]
for jersey_number in player_data_df["jersey_number"]:
    
    try:
        new_type = int(jersey_number)
    except:
       new_type = -1
    
    jersey_int.append(new_type)
    
print(jersey_int)

[33, 90, 16, 31, 14, 11, 18, 14, 30, 6, 15, 4, 22, 11, 11, 11, 7, 32, 19, 43, 9, 10, 10, 22, 22, 7, 37, 17, 11, 7, 5, 9, 20, 7, 24, 11, 11, 7, 10, 15, 27, 7, 10, 5, 10, 29, 10, 31, 7, 22, 19, 5, 10, 31, 5, 2, 33, 6, 15, 3, 3, 21, 80, 43, 10, 9, 9, 19, 11, 17, 10, 9, 19, 9, 20, 6, 7, 26, 8, 21, 20, 51, 8, 12, 6, 23, 93, 10, 82, 77, 8, 99, 6, 5, 31, 25, 3, 13, 26, 2, 2, 78, 4, 30, 3, 42, 18, 27, 30, 21, 28, 12, 12, 9, 12, 9, 8, 21, 9, 21, 23, 77, 5, 21, 13, 11, 21, 11, 50, 29, 3, 28, 4, 4, 4, 5, 94, 4, 13, 15, 7, 9, 11, 13, 17, 16, 12, 11, 19, 45, 27, 13, 95, 38, 29, 9, 9, 22, 36, 36, 28, 11, 31, 7, 77, 11, 16, 46, 13, 35, 13, 44, 28, 12, 20, 8, 33, 32, 17, 23, 21, 11, 9, 29, 24, 17, 12, 47, 25, 17, 38, 37, 27, 7, 10, 27, 11, 77, 74, 17, 41, 22, 19, 9, 33, 24, 45, 21, 39, 5, 14, 17, 22, 77, 25, 5, 17, 13, 15, 3, 7, 11, 25, 28, 23, 15, 24, 23, 34, 8, 10, 23, 30, -1, 33, 20, 9, 10, 24, 2, 2, 7, 3, 9, 8, 24, 15, 55, 25, 34, 11, 5, 20, 14, 13, 35, 15, 34, 58, 19, 54, 6, 19, 26, 11, 25, 35, 30, 43, 23, 17, 42, 32, 13, 30, 33, 19, 4, 23, 7, 6, 15, 55, 20, 80, 21, 20, 31, 42, 13, 52, 37, 8, 43, 20, 23, 15, 18, 20, 19, 41, 8, 25, 28, 22, 7, 99, 84, 45, 77, 21, 73, 8, 10, 23, 16, 14, 30, 19, 24, 17, 37, 26, 12, 33, 19, 25, 49, 72, 17, 28, 31, 6, 8, 21, 25, 66, 16, 26, 8, 14, 22, 11, 14, 16, 33, 31, 6, 7, 16, 8, 25, 12, 19, 21, 5, 8, 77, 75, 37, 26, 58, 44, 19, 46, 15, 44, 22, 13, 17, 10, 17, 14, 29, 30, 26, 21, 7, 6, 9, 2, 19, -1, 2, 10, 4, 14, 16, 6, 28, 24, 14, 22, 12, 6, 8, 23, 11, 8, 14, 20, 15, 16, 13, 33, 12, 7, 6, 18, 7, 17, 19, 13, 32, 12, 13, 19, 16, 23, 26, 39, 9, 8, 17, 28, 24, 44, 21, 13, 32, 4, 16, 2, 29, 26, 8, 19, 28, 25, 24, 15, 39, 14, 25, 25, 2, 18, 23, 5, 22, 5, 22, 30, 4, 24, 2, 32, 15, 55, 26, 24, 30, 28, 68, 24, 33, 80, 16, 2, 24, 36, 4, 27, 27, 34, 33, 14, 27, 37, 2, 12, 11, 26, 24, 19, 24, 34, 2, 13, 27, 26, 14, 2, 23, 13, 24, 25, 32, 31, 33, 24, 22, 15, 24, 22, 16, 27, 48, 36, 15, 2, 20, 8, 19, 82, 24, 15, 4, 23, 30, 45, 6, 3, 88, 44, 2, 15, 34, 24, 4, 2, 26, 3, 22, 2, 30, 25, 4, 29, 17, 23, 32, 24, 89, 15, 12, 6, 47, 2, 3, 28, 21, 4, 42, 32, 3, 33, 34, 4, 25, 20, 29, 39, 5, 25, 4, 23, 5, 37, 3, 31, 36, 16, 15, 3, 22, 7, 20, 19, 26, 8, 23, 24, 18, 20, 18, 26, 2, 46, 16, 4, -1, 2, 5, 6, 25, 26, 3, 32, 2, 4, 3, 21, 20, 22, 11, 25, 17, 11, 5, 2, 20, 21, 14, 22, 12, 3, 30, 22, 6, 14, 16, 99, 11, 36, 3, 28, 23, 12, 31, 6, 3, 21, 7, 23, 12, 2, 13, 31, 1, 26, 1, 30, 67, 12, 13, 27, 29, 99, 31, 77, 1, 20, 12, 1, 25, 49, 1, 1, 13, 99, 1, 31, 22, 26, 24, 30, 29, 1, 1, 41, 18, 34, 25, 18, 24, 35, 29, 22, 1, 24, 1, 50, 36, 98, 12, 13, 24, 28, 1, 13, 18, 30, 1, 36, 18, 18, 1, -1, 1, 35, 24, 1, 18, 99, 38, 21, 30, 17, 31, 40, 30, 18, 4, 1, 24, 28, 1, 18, 1, 19, 21, 1, 1, 44, -1, 9, 14, 17, 8, 16, 19, 29, 16, 14, 18, 5, 3, 1, 21, 14, 29, 7, 83, 44, 28, 9, 30, 28, 19, -1, 12, 8, 29, 9, 37, 36, 20, 21, 72, 82, 81, 71, 97, 27, 6, 29, 19, 55, 11, 31, 27, 30, 28, 18, 13, 19, 5, 99, 18, 3, 31, 3, 19, 65, 51, 76, 5, 64, 22, 16, 15, 3, 7, 12, 61, 22, 23, 2, 14, 22, 18, 16, 90, 97, 41, 40, 1, 32, 1, 18, 9, 14, 23, 29, 25, 5, 22, 34, 29, 23, 26, 89, 16, 30, 12, 11, 44, 8, 72, 11, 18, 3, 17, 10, 6, 20, 8, 19, 93, 15, 2, 6, 6, 50, 14, 91, 49, 27, -1, 29, 22, 8, 54, 94, 7, 26, 29, 17, 92, 3, 2, 4, 31, -1, 9, 29, 3, 7, 45, 8, 27, 12, 3, 12, 28, 62, 38, 9, 19, 9, 9, 5, 6, 8, 52, 6, 10, 23, 14, 77, 18, 30, 43, 3, 3, 13, 81, 10, 21, 20, 9, 7, 11, 33, 15, 16, 13, 28, 45, 56, 18, 4, 22, 3, 2, 15, 32, -1, 25, 10, 17, 10, 5, 10, 21, 5, 10, 4, 22, 30, 2, 99, 9, 7, 8, 13, 1, 27, 39, 15, 16, 30, 24, 10, 14, 46, 28, 25, 99, 17, 5, 5, 25, 21, 92, 10, 11, 10, 44, 28, 26, 5, 14, 4, 27, 39, 73, 30, 6, 41, 33, 8, 15, 2, 14, 12, 21, 11, 6, 16, 29, 9, 9, 22, 7, 8, 11, 30, 6, 20, 1, 22, 16, 8, 17, 21, 3, 15, 14, 4, 18, 11, 17, 26, 72, 44, 29, 14, 32, 5, 25, 16, 10, 7, 14, 7, 19, 9, 6, 4, 35, 1, 47, 7, 18, 7, 34, 8, 6, 4, 18, 9, 16, 52, 2, 4, 21, 1, 11, 27, 45, 26, 5, 15, 98, 24, 23, 14, 29, 22, 7, 10, 28, 26, 25, 10, 4, 20, 10, 77, 20, 13, 10, 18, 19, 30, 84, 27, 57, 20, 20, 31, 42, 9, 7, 10, 17, 22, 28, 5, 18, -1, 28, 10, 13, 35, 18, 7, 20, 31, 6, 24, 24, 92, 23, 17, 2, 18, 9, 10, 21, 4, 6, 21, 6, 4, 23, 19, 20, 33, 25, 10, 17, 3, 7, 22, 5, 7, 19, 18, 8, 32, 14, 3, 50, 24, 11, 6, 16, 9, 30, 7, 1, 2, 7, 35, 25, 10, 7, 1, 1, 8, 17, 20, 65, 31, 48, 12, 77, 27, 5, 3, 34, 16, 5, 25, 37, 10, 6, 15, 20, 5, 33, 17, 27, 21, 23, 35, 31, 6, 33, 29, 13]

In [35]:
# Set data type for weight
weight_int=[]
for weight in player_data_df["weight_(lbs)"]:
    
    try:
        new_type = int(weight)
    except:
       new_type = -1
    
    weight_int.append(new_type)
    
print(weight_int)

[196, 152, 132, -1, 159, 139, 150, 146, -1, 181, 161, 183, 168, 170, 170, 192, 152, 117, 150, 183, 161, 150, 159, 159, 179, 150, 163, 159, 161, 159, 168, 146, 139, 119, 137, 152, 128, 192, 174, 150, 115, 150, 150, 172, 139, 139, 161, 150, 174, 161, 148, 161, 132, 146, 150, 159, 152, 159, 181, 181, 157, 183, -1, 152, 152, 183, 183, 170, 163, 183, 128, 117, -1, 117, 168, 150, 159, 172, 152, 159, 163, 172, 161, 161, 157, 150, 168, 157, 130, 130, 130, 117, 128, 130, 181, 172, 161, 172, 168, 141, -1, 141, 150, -1, 119, 203, 152, 163, 148, -1, 152, 132, 161, 152, 152, 183, 137, 163, 168, 150, 170, 146, 148, 150, 174, 132, 146, 146, -1, 159, 159, 203, 161, 185, 170, 192, 163, 179, 159, 168, 170, 150, 170, 152, 196, 146, 174, 163, 170, -1, 172, -1, -1, 172, 192, 174, 183, 150, 152, 172, 152, 161, 207, 150, 172, -1, 201, -1, 183, 161, 181, 172, 163, 174, 170, 163, 172, 161, 170, 179, 161, 190, 172, 185, 183, 172, 163, 139, 161, 185, 168, 150, 172, 146, 150, 150, 174, 150, 183, 157, -1, 163, 196, 121, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 128, -1, 137, -1, -1, -1, -1, -1, -1, -1, 130, -1, -1, -1, -1, 126, -1, -1, -1, -1, -1, -1, 117, -1, 128, -1, -1, -1, 117, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 152, 161, -1, -1, -1, 170, 163, 150, 172, 172, 161, 159, 139, -1, -1, 150, 150, 139, 139, 161, 146, 146, 159, 192, 161, 170, 183, 159, 179, 152, 163, 152, 150, 170, 150, 159, 150, 163, 148, 146, 172, 150, 150, 139, 172, 159, 139, 159, 152, 152, 150, 163, 139, 172, 141, 146, 152, 150, 168, 146, 161, 172, 168, 152, 181, 159, 139, 141, 185, 150, 132, 170, -1, 159, -1, 152, 132, 150, 168, 163, 161, 161, 172, 152, 172, 170, 161, -1, 161, 163, 161, 150, 163, 163, 207, 152, 159, 159, 150, 161, 139, -1, 139, -1, 139, 150, 168, -1, -1, 117, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 159, -1, -1, -1, -1, -1, 121, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 117, -1, -1, -1, 121, 128, -1, -1, -1, 139, -1, -1, 126, -1, -1, -1, 128, -1, -1, -1, 132, -1, -1, -1, -1, 108, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 170, 172, -1, 172, -1, 194, 170, 161, 170, 172, 172, 172, 159, 183, 170, -1, 163, 146, -1, -1, 157, 181, -1, -1, 170, 183, 172, 161, 139, 205, 174, 170, 181, 159, 192, 154, 152, 190, 161, 181, 172, 183, 157, 161, 163, 117, 163, 174, 161, 159, 152, 192, 161, 172, 163, -1, 201, 203, -1, 179, 152, 183, 159, 174, 181, 172, 181, 192, 161, 163, 146, 146, 183, 159, 190, 190, 152, 181, 170, 192, 170, 170, 192, 205, 183, 174, 190, 172, 150, 163, 183, 161, 150, 183, 179, 203, 152, 185, 159, 170, 192, 172, 150, -1, -1, 172, 172, 150, 132, -1, 203, 141, 183, 192, 150, 183, 183, 172, 183, 139, 126, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 128, 163, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 126, -1, -1, -1, -1, -1, -1, -1, -1, 137, 150, -1, -1, -1, -1, 139, -1, -1, 130, 128, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 130, -1, -1, -1, -1, -1, -1, -1, -1, -1, 121, -1, -1, 163, 183, 192, 190, 203, 192, 190, 190, 192, 190, 181, 190, 183, 181, 183, 161, 214, 185, 192, 192, 192, 203, 207, 205, 168, 161, 163, 194, 183, 190, 181, 183, 150, 192, 170, -1, 174, 192, 183, 207, 172, 207, 207, 192, 190, 203, 190, 205, 163, 190, 203, 192, 159, 183, 172, 192, 225, 201, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 161, 146, -1, -1, -1, -1, 150, 159, -1, -1, 170, 161, -1, 174, 181, 148, 159, 150, 183, 139, -1, 183, 185, -1, 163, 179, 152, 185, 150, -1, 194, 150, 183, 183, 161, 148, 117, -1, 152, 152, 172, 168, 150, 159, 159, 139, -1, 174, 130, 161, 150, 157, 163, 152, 150, 139, 150, 170, 179, 157, 119, 146, -1, 203, 190, 163, 150, 150, 172, -1, -1, 181, 183, 185, 172, 146, 163, 150, 185, 161, 152, 150, 121, 115, -1, -1, 192, 201, 172, 170, 161, 190, 183, 150, -1, 183, -1, 163, 117, 110, 141, -1, -1, -1, -1, -1, -1, 159, -1, 159, 152, 170, 161, 161, 119, 163, 130, 161, 148, 150, 161, 159, 157, 152, 121, 152, 152, 163, 190, 141, 150, 172, 181, -1, -1, 150, 117, 159, 139, 121, 126, 163, 179, 192, 150, 159, 172, 163, 110, 172, 152, 161, 148, 150, 148, 194, 150, 163, 179, 128, -1, -1, 168, 181, 181, 119, 168, 172, 172, 181, 121, 141, 139, 163, 132, 150, 148, 159, 201, 183, -1, -1, 170, 150, 152, 181, -1, -1, -1, 137, 174, 163, 181, 139, 159, 128, 152, 172, 139, -1, -1, 183, -1, 170, 141, 157, 139, 150, 137, 139, 163, 157, 185, 170, 201, 159, 152, 159, -1, 172, 183, -1, -1, 139, 183, 152, 190, 128, 170, 185, -1, 152, -1, 181, 174, 172, 183, 192, 163, -1, 159, 161, 201, 183, -1, 159, 190, 159, 172, 174, 218, -1, 150, 174, 161, 170, 150, 183, 172, 150, -1, 161, 108, 146, 159, -1, 174, 161, 152, 161, 170, 159, 181, 150, 130, 192, 163, 172, 161, 172, 168, 150, 168, -1, -1, 139, 168, 128, 150, 161, 181, 152, 170, -1, 161, 168, 150, -1, 168, 148, 183, 161, 163, 170, 170, 170, 179, -1, 159, 119, 130, -1, 115, 95, 172, 174, 141, 170, 172, 163, 168, 141, 172, 181, 179, -1, 172, 172, 152, 192, -1, 185, 181, 159, 157, 172, -1, 157, 181, 150, 163, 172, 152, 168, 146, 183, 150, 157, 159, 170, 181, 148, -1, 163, 163, 139, 172, 152, 185, 194, -1, 128, 128, 181, 185, 179, 139, 172, 141, 174, 163, 201, 181, 139, 181, 128, 161, 161, 161, 172, 172, 163, 172, 141, 132, 152, 174, 192, 141, 163, 172, 179, 146, 152, 119, -1, 117, 159, 163, -1, 163, -1, 139, -1, 170, 159, 148, -1, 170, -1, 181, 132, 157, 163, 159, 172, 163, 185, 174, 150, 139, 172, 159, 150, 185, 185, 161, -1, 130, 161, -1, -1, 161, 128, 115, 152, 152, -1, 161, 183, -1, 141, 119, 172, 201, 150, 126, 183, 161, 183, 146, 150, 157, 181, 214, 172, 152, -1]

In [36]:
# Replace converted sections
player_data_df["jersey_number"] = jersey_int
player_data_df["weight_(lbs)"] = weight_int

In [37]:
# Drop league ID
player_data_df = player_data_df.drop(["league_id"], axis=1)

In [38]:
# Deal with na values
player_data_df["goals"] = player_data_df["goals"].fillna(0)
player_data_df["assists"] = player_data_df["assists"].fillna(0)
player_data_df["yellow_cards"] = player_data_df["yellow_cards"].fillna(0)
player_data_df["red_cards"] = player_data_df["red_cards"].fillna(0)
player_data_df["shots"] = player_data_df["shots"].fillna(0)
player_data_df["shots_on_goal"] = player_data_df["shots_on_goal"].fillna(0)
player_data_df["saves"] = player_data_df["saves"].fillna(0)
player_data_df["clean_sheets"] = player_data_df["clean_sheets"].fillna(0)
player_data_df["goals_against"] = player_data_df["goals_against"].fillna(0)
player_data_df["photo_url"] = player_data_df["photo_url"].fillna("N/A")
player_data_df["height_(ft)"] = player_data_df["height_(ft)"].fillna(0)
player_data_df["weight_(lbs)"] = player_data_df["weight_(lbs)"].fillna(0)
player_data_df["birthdate"] = player_data_df["birthdate"].fillna(dt.date(1111,11,11))

In [39]:
# Display Player Data dataframe
player_data_df.head(10)

,player_id,player_name,team_id,position_id,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality_id
0,pl1,Patrick Agyemang,tm1,pos1,33,2,0,3,0,8,3,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.33,196,2000-11-07 00:00:00,nat1
1,pl697,Kwadwo Opoku,tm17,pos1,90,6,3,1,1,51,18,2,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.58,152,2001-07-13 00:00:00,nat1
2,pl825,Joshua Bolma,tm24,pos1,16,0,0,0,0,1,0,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.75,132,2002-04-10 00:00:00,nat1
3,pl223,Eugene Ansah,tm27,pos1,31,1,0,0,0,8,4,0,0,0,N/A,0.00,-1,1994-12-16 00:00:00,nat1
4,pl776,Shakur Mohammed,tm6,pos3,14,0,0,0,0,0,0,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.83,159,2003-08-27 00:00:00,nat1
5,pl412,Latif Blessing,tm9,pos3,11,0,1,4,1,6,2,3,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.58,139,1996-12-30 00:00:00,nat1
6,pl207,Emmanuel Boateng,tm24,pos3,18,2,3,1,0,17,6,4,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.50,150,1994-01-17 00:00:00,nat1
7,pl157,Yaw Yeboah,tm26,pos3,14,3,6,3,0,35,13,1,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.50,146,1997-03-28 00:00:00,nat1
8,pl794,Samuel Kwaku Owusu,tm10,pos4,30,0,0,0,0,0,0,0,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,0.00,-1,2000-12-13 00:00:00,nat1
9,pl414,Lalas Abubakar,tm14,pos4,6,2,0,8,1,8,5,19,0,0,https://a.espncdn.com/i/headshots/soccer/playe...,6.08,181,1994-12-25 00:00:00,nat1

In [40]:
player_data_df.dtypes

player_id          object
player_name        object
team_id            object
position_id        object
jersey_number       int64
goals               int64
assists             int64
yellow_cards        int64
red_cards           int64
shots               int64
shots_on_goal       int64
saves               int64
clean_sheets        int64
goals_against       int64
photo_url          object
height_(ft)       float64
weight_(lbs)        int64
birthdate          object
nationality_id     object
dtype: object

In [41]:
teams_df.dtypes

team_id      object
team         object
league_id    object
dtype: object

In [42]:
leagues_df.dtypes

league_id    object
league       object
dtype: object

In [43]:
positions_df.dtypes

position_id    object
position       object
dtype: object

In [44]:
nationalities_df.dtypes

nationality_id    object
nationality       object
dtype: object

### Exports:
---

In [45]:
# Export CSV 1-Player Data
player_data_df.to_csv("../2-database_building/cleaned_data_exports/us_player_data.csv", index=False)

In [46]:
# Export CSV 2-Teams Data
teams_df.to_csv("../2-database_building/cleaned_data_exports/us_teams.csv", index=False)

In [47]:
# Export CSV 3-Leagues Data
leagues_df.to_csv("../2-database_building/cleaned_data_exports/us_leagues.csv", index=False)

In [48]:
# Export CSV 4-Positions Data
positions_df.to_csv("../2-database_building/cleaned_data_exports/us_positions.csv", index=False)

In [49]:
# Export CSV 5-Nationalities Data
nationalities_df.to_csv("../2-database_building/cleaned_data_exports/us_nationalities.csv", index=False)