## Cleaning the Data
-----

### Setup:
---

In [1]:
# Import dependencies
import pandas as pd
import datetime as dt

In [2]:
# Grab the CSV
athelete_stats_df = pd.read_csv("initial_unclean_csv/complete_unclean_data.csv", encoding="utf8")

In [3]:
# Display as dataframe
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height,weight,birthdate,nationality
0,André Silva,Real Sociedad,LALIGA,Forward,21.0,0,0,0,0,2,1,0,0,0,https://assets.laliga.com/squad/2023/t188/p165...,"6' 1""",183 lbs,1995-11-06T08:00Z,Portugal
1,Pepe Reina,Villarreal,LALIGA,Goalkeeper,1.0,0,0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t449/p843...,"6' 2""",203 lbs,1982-08-31T07:00Z,Spain
2,Javi Guerra,Valencia,LALIGA,Midfielder,8.0,3,1,2,0,18,8,2,4,16,https://assets.laliga.com/squad/2023/t191/p546...,"6' 2""",170 lbs,2003-05-13T07:00Z,Spain
3,Alejandro Pozo,Almería,LALIGA,Defender,17.0,0,0,0,0,1,1,0,0,16,https://assets.laliga.com/squad/2023/t1564/p23...,"5' 9""",152 lbs,1999-02-22T08:00Z,Spain
4,Iván Cuéllar,Mallorca,LALIGA,Goalkeeper,25.0,0,0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t181/p162...,"6' 2""",168 lbs,1984-05-27T07:00Z,Spain

### Cleaning:
---

#### Convert Height

In [4]:
# Split current heights
split_heights = athelete_stats_df["height"]
split_heights = split_heights.str.split("'", n=1, expand=True)

In [5]:
# Remove everthing but the numbers from the feet
# Convert to float for math
heights_feet = split_heights[0].astype("float")
heights_feet.head(5)

0    6.0
1    6.0
2    6.0
3    5.0
4    6.0
Name: 0, dtype: float64

In [6]:
# Remove everything but the nubmers from the inches
heights_inches = split_heights[1]

split_heights_inches = heights_inches.str.split('"', n=1, expand=True)

# Convert to float for math
split_heights_inches = split_heights_inches[0].astype("float")
heights_inches = split_heights_inches
heights_inches.head(5)

0    1.0
1    2.0
2    2.0
3    9.0
4    2.0
Name: 0, dtype: float64

In [7]:
# Converting inches to feet
inches_in_feet = []
for measurement in heights_inches:
    cur_feet = measurement/12
    inches_in_feet.append(cur_feet)

In [8]:
# Create dataframe with new heights colums, both in feet
split_heights_in_ft = {
    "heights_ft1": heights_feet,
    "heights_ft2": inches_in_feet
}
split_heights_in_ft_df = pd.DataFrame(split_heights_in_ft)
split_heights_in_ft_df.head(5)

   heights_ft1  heights_ft2
0          6.0     0.083333
1          6.0     0.166667
2          6.0     0.166667
3          5.0     0.750000
4          6.0     0.166667

In [9]:
# Adding feet and converted inches column to get new total feet measurments column with decimals
new_height = split_heights_in_ft_df["heights_ft1"] + split_heights_in_ft_df["heights_ft2"]

# Round the combined height
new_height = round(new_height,2)

In [10]:
# Display cleaned data
new_height.head(5)

0    6.08
1    6.17
2    6.17
3    5.75
4    6.17
dtype: float64

#### Convert Weight

In [11]:
# Grab uncleaned weight
uncleaned_weight = athelete_stats_df["weight"]
uncleaned_weight.head(5)

0    183 lbs
1    203 lbs
2    170 lbs
3    152 lbs
4    168 lbs
Name: weight, dtype: object

In [12]:
# Split weights
split_weights = uncleaned_weight.str.split(' ', n=1, expand=True)
split_weights.head(5)

     0    1
0  183  lbs
1  203  lbs
2  170  lbs
3  152  lbs
4  168  lbs

In [13]:
# Display cleaned data
new_weight = split_weights[0]
new_weight.head(5)

0    183
1    203
2    170
3    152
4    168
Name: 0, dtype: object

#### Convert Dates

In [14]:
# Split Current Dates
split_birthdates = athelete_stats_df["birthdate"]
split_birthdates = split_birthdates.str.split("T", n=1, expand=True)

In [15]:
# Select only the part we want to keep
split_birthdates = split_birthdates [0]
split_birthdates.head(5)

0    1995-11-06
1    1982-08-31
2    2003-05-13
3    1999-02-22
4    1984-05-27
Name: 0, dtype: object

In [16]:
# Convert the dates to datetime
split_birthdates = pd.to_datetime(split_birthdates)
split_birthdates.head(5)

0   1995-11-06
1   1982-08-31
2   2003-05-13
3   1999-02-22
4   1984-05-27
Name: 0, dtype: datetime64[ns]

In [17]:
# Check dates converted to timestamps
type (split_birthdates[0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
# Display cleaned data
new_birthdates = split_birthdates
new_birthdates.head(5)

0   1995-11-06
1   1982-08-31
2   2003-05-13
3   1999-02-22
4   1984-05-27
Name: 0, dtype: datetime64[ns]

#### Remove "Goals Against" and "Clean Sheets" for Non-Goalies

In [19]:
# Remove goals against and clean sheets for non-goalies
new_goals_against = []
new_clean_sheets = []

for index, row in athelete_stats_df.iterrows():
    cur_position = row["position"]
    cur_goals_against = row["goals_against"]
    cur_clean_sheets = row["clean_sheets"]
    
    if cur_position == "Goalkeeper":
        new_goals_against.append(cur_goals_against)
        new_clean_sheets.append(cur_clean_sheets)
    else:
        new_goals_against.append(0)
        new_clean_sheets.append(0)

#### Creating Cleaned Dataframe

In [20]:
# Remove unclean sections from dataframe
athelete_stats_df = athelete_stats_df.drop(["birthdate"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["height"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["weight"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["goals_against"], axis=1)
athelete_stats_df = athelete_stats_df.drop(["clean_sheets"], axis=1)
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,photo_url,nationality
0,André Silva,Real Sociedad,LALIGA,Forward,21.0,0,0,0,0,2,1,0,https://assets.laliga.com/squad/2023/t188/p165...,Portugal
1,Pepe Reina,Villarreal,LALIGA,Goalkeeper,1.0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t449/p843...,Spain
2,Javi Guerra,Valencia,LALIGA,Midfielder,8.0,3,1,2,0,18,8,2,https://assets.laliga.com/squad/2023/t191/p546...,Spain
3,Alejandro Pozo,Almería,LALIGA,Defender,17.0,0,0,0,0,1,1,0,https://assets.laliga.com/squad/2023/t1564/p23...,Spain
4,Iván Cuéllar,Mallorca,LALIGA,Goalkeeper,25.0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t181/p162...,Spain

In [21]:
# Add clean sections to dataframe
athelete_stats_df["birthdate"] = new_birthdates
athelete_stats_df["height_(ft)"] = new_height
athelete_stats_df["weight_(lbs)"] = new_weight
athelete_stats_df["goals_against"] = new_goals_against
athelete_stats_df["clean_sheets"] = new_clean_sheets
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,photo_url,nationality,birthdate,height_(ft),weight_(lbs),goals_against,clean_sheets
0,André Silva,Real Sociedad,LALIGA,Forward,21.0,0,0,0,0,2,1,0,https://assets.laliga.com/squad/2023/t188/p165...,Portugal,1995-11-06,6.08,183,0,0
1,Pepe Reina,Villarreal,LALIGA,Goalkeeper,1.0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t449/p843...,Spain,1982-08-31,6.17,203,0,0
2,Javi Guerra,Valencia,LALIGA,Midfielder,8.0,3,1,2,0,18,8,2,https://assets.laliga.com/squad/2023/t191/p546...,Spain,2003-05-13,6.17,170,0,0
3,Alejandro Pozo,Almería,LALIGA,Defender,17.0,0,0,0,0,1,1,0,https://assets.laliga.com/squad/2023/t1564/p23...,Spain,1999-02-22,5.75,152,0,0
4,Iván Cuéllar,Mallorca,LALIGA,Goalkeeper,25.0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t181/p162...,Spain,1984-05-27,6.17,168,0,0

In [22]:
# Reorder dataframe
athelete_stats_df = athelete_stats_df[["player_name",
                                       "team",
                                       "league",
                                       "position",
                                       "jersey_number",
                                       "goals",
                                       "assists",
                                       "yellow_cards",
                                       "red_cards",
                                       "shots",
                                       "shots_on_goal",
                                       "saves",
                                       "clean_sheets",
                                       "goals_against",
                                       "photo_url",
                                       "height_(ft)",
                                       "weight_(lbs)",
                                       "birthdate",
                                       "nationality"
                                       ]]
athelete_stats_df.head()

,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality
0,André Silva,Real Sociedad,LALIGA,Forward,21.0,0,0,0,0,2,1,0,0,0,https://assets.laliga.com/squad/2023/t188/p165...,6.08,183,1995-11-06,Portugal
1,Pepe Reina,Villarreal,LALIGA,Goalkeeper,1.0,0,0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t449/p843...,6.17,203,1982-08-31,Spain
2,Javi Guerra,Valencia,LALIGA,Midfielder,8.0,3,1,2,0,18,8,2,0,0,https://assets.laliga.com/squad/2023/t191/p546...,6.17,170,2003-05-13,Spain
3,Alejandro Pozo,Almería,LALIGA,Defender,17.0,0,0,0,0,1,1,0,0,0,https://assets.laliga.com/squad/2023/t1564/p23...,5.75,152,1999-02-22,Spain
4,Iván Cuéllar,Mallorca,LALIGA,Goalkeeper,25.0,0,0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t181/p162...,6.17,168,1984-05-27,Spain

### Creating Dataframes for SQL Tables:
---

#### Creating Leagues Dataframe

In [23]:
leagues = athelete_stats_df["league"].unique()
leagues_df = pd.DataFrame(leagues)
leagues_df = leagues_df.reset_index()
leagues_df = leagues_df.rename(columns={"index":"league_id", 0:"league"})
leagues_df["league_id"] = leagues_df["league_id"]+1
leagues_df["league_id"] = ["lg" + str(league_id) for league_id in leagues_df["league_id"]]
leagues_df

  league_id          league
0       lg1          LALIGA
1       lg2      Bundesliga
2       lg3         Liga MX
3       lg4         Ligue 1
4       lg5         Serie A
5       lg6             MLS
6       lg7            NWSL
7       lg8  Premier League

#### Creating Teams Dataframe

In [24]:
teams = athelete_stats_df["team"].unique()
teams_df = pd.DataFrame(teams)
teams_df = teams_df.reset_index()
teams_df = teams_df.rename(columns={"index":"team_id", 0:"team"})
teams_df["team_id"] = teams_df["team_id"]+1
teams_df["team_id"] = ["tm" + str(team_id) for team_id in teams_df["team_id"]]
teams_df.head(5)

  team_id           team
0     tm1  Real Sociedad
1     tm2     Villarreal
2     tm3       Valencia
3     tm4        Almería
4     tm5       Mallorca

#### Creating Positions Dataframe

In [25]:
positions = athelete_stats_df["position"].unique()
positions_df = pd.DataFrame(positions)
positions_df = positions_df.reset_index()
positions_df = positions_df.rename(columns={"index":"position_id", 0:"position"})
positions_df["position_id"] = positions_df["position_id"]+1
positions_df["position_id"] = ["pos" + str(position_id) for position_id in positions_df["position_id"]]
positions_df

  position_id    position
0        pos1     Forward
1        pos2  Goalkeeper
2        pos3  Midfielder
3        pos4    Defender

#### Creating Nationalities Dataframe

In [26]:
nationalities = athelete_stats_df["nationality"].unique()
nationalities_df = pd.DataFrame(nationalities)
nationalities_df = nationalities_df.reset_index()
nationalities_df = nationalities_df.rename(columns={"index":"nationality_id", 0:"nationality"})
nationalities_df["nationality_id"] = nationalities_df["nationality_id"]+1
nationalities_df["nationality_id"] = ["nat" + str(nationality_id) for nationality_id in nationalities_df["nationality_id"]]
nationalities_df.head(5)

  nationality_id nationality
0           nat1    Portugal
1           nat2       Spain
2           nat3      Guinea
3           nat4   Argentina
4           nat5     Uruguay

In [27]:
# Fill na values for nationalities
nationalities_df["nationality"] = nationalities_df["nationality"].fillna("N/A")

#### Creating Player Data Dataframe

In [28]:
# Add player ID
player_data_df = athelete_stats_df
player_data_df = player_data_df.reset_index()
player_data_df = player_data_df.rename(columns={"index":"player_id"})
player_data_df["player_id"] = player_data_df["player_id"]+1
player_data_df["player_id"] = ["pl" + str(player_id) for player_id in player_data_df["player_id"]]
player_data_df.head(5)

,player_id,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality
0,pl1,André Silva,Real Sociedad,LALIGA,Forward,21.0,0,0,0,0,2,1,0,0,0,https://assets.laliga.com/squad/2023/t188/p165...,6.08,183,1995-11-06,Portugal
1,pl2,Pepe Reina,Villarreal,LALIGA,Goalkeeper,1.0,0,0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t449/p843...,6.17,203,1982-08-31,Spain
2,pl3,Javi Guerra,Valencia,LALIGA,Midfielder,8.0,3,1,2,0,18,8,2,0,0,https://assets.laliga.com/squad/2023/t191/p546...,6.17,170,2003-05-13,Spain
3,pl4,Alejandro Pozo,Almería,LALIGA,Defender,17.0,0,0,0,0,1,1,0,0,0,https://assets.laliga.com/squad/2023/t1564/p23...,5.75,152,1999-02-22,Spain
4,pl5,Iván Cuéllar,Mallorca,LALIGA,Goalkeeper,25.0,0,0,0,0,0,0,0,0,0,https://assets.laliga.com/squad/2023/t181/p162...,6.17,168,1984-05-27,Spain

In [29]:
# Add ID columns
player_data_df = pd.merge(player_data_df,teams_df, on=["team"], how="inner")
player_data_df = pd.merge(player_data_df,leagues_df, on=["league"], how="inner")
player_data_df = pd.merge(player_data_df,positions_df, on=["position"], how="inner")
player_data_df = pd.merge(player_data_df,nationalities_df, on=["nationality"], how="inner")
player_data_df

,player_id,player_name,team,league,position,jersey_number,goals,assists,yellow_cards,red_cards,...,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality,team_id,league_id,position_id,nationality_id
0,pl1,André Silva,Real Sociedad,LALIGA,Forward,21.0,0,0,0,0,...,0,https://assets.laliga.com/squad/2023/t188/p165...,6.08,183,1995-11-06,Portugal,tm1,lg1,pos1,nat1
1,pl80,Bebé,Rayo Vallecano,LALIGA,Forward,10.0,2,0,1,0,...,0,https://assets.laliga.com/squad/2023/t184/p843...,6.25,183,1990-07-12,Portugal,tm8,lg1,pos1,nat1
2,pl368,João Félix,Barcelona,LALIGA,Forward,14.0,1,2,1,0,...,0,https://assets.laliga.com/squad/2023/t178/p428...,5.92,152,1999-11-10,Portugal,tm19,lg1,pos1,nat1
3,pl731,Gonçalo Paciência,VfL Bochum,Bundesliga,Forward,9.0,1,0,2,0,...,0,https://assets.bundesliga.com/player/dfl-obj-0...,6.00,179,1994-08-01,Portugal,tm35,lg2,pos1,nat1
4,pl949,Tiago Tomas,VfL Wolfsburg,Bundesliga,Forward,11.0,1,0,1,0,...,0,https://assets.bundesliga.com/player/dfl-obj-j...,5.92,150,2002-06-16,Portugal,tm36,lg2,pos1,nat1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4323,pl3145,Steven Sserwadda,New York Red Bulls,MLS,Midfielder,65.0,0,0,0,0,...,0,https://a.espncdn.com/i/headshots/soccer/playe...,5.42,161,2002-08-28,Uganda,tm122,lg6,pos3,nat109
4324,pl3466,Ibrahim Kasule,New York Red Bulls,MLS,Midfielder,31.0,0,0,0,0,...,0,NaN,NaN,NaN,2004-02-17,Uganda,tm122,lg6,pos3,nat109
4325,pl3548,Wang Shuang,Racing Louisville FC,NWSL,Midfielder,77.0,2,2,2,0,...,0,https://d2nkt8hgeld8zj.cloudfront.net\images\2...,5.42,128,1995-01-23,China PR,tm126,lg7,pos3,nat111
4326,pl4160,Shandon Baptiste,Brentford,Premier League,Midfielder,26.0,0,0,0,0,...,0,https://resources.premierleague.com/premierlea...,5.75,148,1998-04-08,Grenada,tm154,lg8,pos3,nat114
4327,pl4208,Karl Hein,Arsenal,Premier League,Goalkeeper,31.0,0,0,0,0,...,0,https://resources.premierleague.com/premierlea...,6.33,190,2002-04-13,Estonia,tm150,lg8,pos2,nat115

In [30]:
# Drop sections no longer needed
player_data_df = player_data_df.drop(["team"], axis=1)
player_data_df = player_data_df.drop(["league"], axis=1)
player_data_df = player_data_df.drop(["position"], axis=1)
player_data_df = player_data_df.drop(["nationality"], axis=1)

In [31]:
# Reorder dataframe
player_data_df = player_data_df[[
                                "player_id",
                                "player_name",
                                "team_id",
                                "league_id",
                                "position_id",
                                "jersey_number",
                                "goals",
                                "assists",
                                "yellow_cards",
                                "red_cards",
                                "shots",
                                "shots_on_goal",
                                "saves",
                                "clean_sheets",
                                "goals_against",
                                "photo_url",
                                "height_(ft)",
                                "weight_(lbs)",
                                "birthdate",
                                "nationality_id"
                            ]]
player_data_df.head()

,player_id,player_name,team_id,league_id,position_id,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality_id
0,pl1,André Silva,tm1,lg1,pos1,21.0,0,0,0,0,2,1,0,0,0,https://assets.laliga.com/squad/2023/t188/p165...,6.08,183,1995-11-06,nat1
1,pl80,Bebé,tm8,lg1,pos1,10.0,2,0,1,0,9,4,0,0,0,https://assets.laliga.com/squad/2023/t184/p843...,6.25,183,1990-07-12,nat1
2,pl368,João Félix,tm19,lg1,pos1,14.0,1,2,1,0,24,10,1,0,0,https://assets.laliga.com/squad/2023/t178/p428...,5.92,152,1999-11-10,nat1
3,pl731,Gonçalo Paciência,tm35,lg2,pos1,9.0,1,0,2,0,10,3,0,0,0,https://assets.bundesliga.com/player/dfl-obj-0...,6.00,179,1994-08-01,nat1
4,pl949,Tiago Tomas,tm36,lg2,pos1,11.0,1,0,1,0,13,6,0,0,0,https://assets.bundesliga.com/player/dfl-obj-j...,5.92,150,2002-06-16,nat1

In [32]:
# Complete teams dataframe
teams_df = pd.merge(teams_df,player_data_df[["team_id","league_id"]], on=["team_id"], how ="left")
teams_df = teams_df.drop_duplicates()
teams_df = teams_df.reset_index(drop=True)
teams_df

    team_id               team league_id
0       tm1      Real Sociedad       lg1
1       tm2         Villarreal       lg1
2       tm3           Valencia       lg1
3       tm4            Almería       lg1
4       tm5           Mallorca       lg1
..      ...                ...       ...
150   tm151            Burnley       lg8
151   tm152            Chelsea       lg8
152   tm153     Crystal Palace       lg8
153   tm154          Brentford       lg8
154   tm155  Nottingham Forest       lg8

[155 rows x 3 columns]

#### Correct Data Types

In [33]:
# Check data types
player_data_df.dtypes

player_id                 object
player_name               object
team_id                   object
league_id                 object
position_id               object
jersey_number            float64
goals                      int64
assists                    int64
yellow_cards               int64
red_cards                  int64
shots                      int64
shots_on_goal              int64
saves                      int64
clean_sheets               int64
goals_against              int64
photo_url                 object
height_(ft)              float64
weight_(lbs)              object
birthdate         datetime64[ns]
nationality_id            object
dtype: object

In [34]:
# Set data type for jersey numbers
jersey_int=[]
for jersey_number in player_data_df["jersey_number"]:
    
    try:
        new_type = int(jersey_number)
    except:
       new_type = -1
    
    jersey_int.append(new_type)
    
print(jersey_int)

[21, 10, 14, 9, 11, 9, 19, 9, 67, 10, 47, 20, 70, 16, 14, 28, 20, 7, 9, 12, 3, 6, 2, 4, 22, 24, 22, 13, 13, 6, 14, 3, 22, 24, 20, 17, 3, 10, 12, 14, 18, 15, 17, 10, 29, 20, 8, 10, 7, 21, 26, 20, 27, 8, 21, 25, 13, 13, 31, 1, 1, 12, 1, 9, 10, 7, 7, 15, 27, 30, 9, 16, 36, 10, 9, 19, 9, 10, 7, 20, 12, 11, 29, 22, 19, 34, 9, 21, 7, 19, 16, 19, 32, 9, 22, 33, 14, 10, 9, 38, 29, 10, 7, 7, 19, 14, 11, 20, 23, 24, 30, 31, 9, 7, 19, 7, 37, 27, 38, 15, 11, 17, 9, 42, 32, 48, 33, 7, 11, 77, 21, 9, 9, 19, 9, 9, 11, 31, 11, 6, 24, 2, 3, 20, 26, 3, 17, 18, 5, 37, 26, 14, 21, 6, 3, 29, 31, 34, 17, 3, 15, 21, 20, 18, 27, 11, 21, 3, 6, 29, 27, 31, 16, 4, 3, 27, 18, 17, 5, 15, 23, 3, 4, 24, 19, 32, 27, 5, 4, 3, 23, 2, 22, 20, 3, 5, 15, 30, 3, 22, 17, 28, 16, 14, 5, 4, 15, 12, 28, 33, 32, 34, 6, 2, 20, 15, 2, 3, 24, 34, 20, 4, 3, 23, 28, 32, 16, 18, 21, 27, 3, 15, 4, 5, 2, 24, 12, 28, 25, 15, 5, 11, 3, 4, 4, 14, 6, 3, 2, 15, 31, 17, 20, 5, 3, 39, 33, 3, 2, 7, 27, 16, 39, 26, 2, 45, 20, 20, 3, 14, 74, 22, 4, 34, 20, 18, 30, 43, 3, 3, 13, 23, 15, 14, 19, 17, 19, 15, 3, 8, 5, 23, 4, 22, 16, 28, 29, 10, 14, 22, 24, 4, 21, 16, 20, 8, 7, 18, 27, 23, 30, 32, 11, 8, 19, 26, 14, 10, 5, 8, 18, 26, 7, 21, 8, 26, 28, 22, 21, 16, 14, 6, 8, 30, 18, 29, 6, 17, 7, 23, 14, 8, 6, 11, 24, 4, 27, 25, 6, 8, 14, 24, 26, 20, 10, 23, 21, 24, 26, 27, 17, 19, 21, 17, 22, 16, 21, 27, 40, 37, 33, 8, 30, 6, 11, 9, 5, 29, 26, 32, 28, 19, 16, 6, 14, 7, 10, 34, 10, 18, 14, 23, 28, 21, 5, 11, 24, 20, 10, 29, 18, 8, 35, 6, 30, 32, 18, 6, 8, 30, 35, 28, 7, 10, 193, 23, 8, 200, 32, 20, 8, 28, 5, 11, 13, 14, 20, 6, 10, 16, 5, 6, 8, 52, 6, 10, 23, 14, 77, 8, 43, 16, 21, 21, 1, 32, 37, 1, 35, 13, 1, 1, 13, 37, 25, 31, 33, 1, 13, 13, 13, 31, 35, 1, 31, 25, 31, 26, 30, 30, 25, 13, 26, 13, 35, 13, 1, 31, 1, 26, 1, 13, 35, 13, 26, 1, 41, 43, 31, 30, 80, 36, 16, 30, 1, 81, 13, 22, 1, 19, 22, 9, 27, 8, 21, 11, 7, 9, 22, 9, 18, 9, 14, 23, 29, 25, 22, 9, 25, 24, 22, 3, 43, 8, 5, 15, 40, 11, 7, 8, 17, 9, 11, 39, 14, 17, 48, 34, 10, 11, 7, 24, 18, 29, 10, 7, 23, 44, 29, 26, 37, 34, 10, 7, 9, 39, 12, 39, 23, 7, 19, 38, 39, 9, 26, 95, 22, 7, 9, 29, 10, 20, 21, 22, 33, 29, 26, 10, 44, 11, 67, 9, 92, 45, 9, 9, 26, 15, 33, 7, 14, 91, 49, 27, -1, 29, 19, 9, 47, 22, 14, 7, 14, 22, 24, 23, 30, 23, 34, 2, 23, 29, 29, 2, 23, 25, 33, 19, 8, 4, 2, 3, 15, 26, 6, 33, 97, 21, 26, 14, 18, 15, 36, 20, 29, 3, 22, 23, 16, 17, 42, 4, 18, 22, 44, 45, 75, 6, 17, 14, 35, 3, 2, 22, 5, 29, 28, 18, 25, 21, 17, 22, 2, 24, 20, 31, 4, 7, 33, 4, 27, 6, 27, 5, 19, 3, 25, 2, 25, 5, 15, 24, 95, 4, 37, 34, 20, 43, 41, 6, 13, 26, 5, 19, 20, 28, 5, 94, 93, 17, 29, 17, 92, 3, 2, 4, 31, -1, 4, 31, 12, 17, 5, 19, 2, 2, 5, 27, 30, 6, 24, 11, 11, 18, 12, 12, 29, 8, 26, 9, 19, 17, 23, 8, 19, 6, 34, 25, 11, 10, 19, 21, 37, 32, 33, 38, 21, 10, 33, 34, 8, 6, 24, 18, 80, 84, 14, 8, 11, 28, 33, 17, 25, 8, 29, 11, 12, 18, 13, 22, 7, 19, 25, 12, 8, 7, 28, 11, 18, 23, 33, 27, 21, 6, 34, 39, 94, 25, 15, 28, 20, 10, 8, 45, 14, 11, 19, 14, 17, 10, 21, 44, 22, 19, 21, 88, 37, 7, 6, 34, 8, 11, 7, 25, 8, 38, 42, 47, 21, 6, 8, 10, 25, 61, 29, 77, 10, 22, 8, 54, 94, 7, 26, 44, 27, 42, 16, 7, 29, 11, 1, 30, 30, 40, 17, 30, 1, 16, 1, 40, 16, 16, 30, 1, 30, 30, 50, 96, 94, 50, 16, 56, 23, 11, 18, 23, 93, 15, 11, 99, 9, 26, 25, 12, 3, 55, 17, 5, 5, 20, 15, 2, 42, 8, 52, 8, 16, 13, 9, 10, 70, 9, 11, 20, 31, 4, 4, 3, 17, 35, 10, 23, 16, 99, 13, 1, 29, 17, 8, 9, 20, 77, 27, 21, 19, 27, 35, 17, 8, 10, 33, 13, 14, 29, 19, 9, 15, 9, 9, 2, 21, 23, 19, 4, 13, 4, 82, 4, 6, 18, 20, 8, 4, 21, 8, 6, 50, 24, 11, 10, 8, 6, 28, 1, 1, 99, 1, 32, 35, 1, 28, 12, 14, 12, 7, 11, 12, 11, 16, 11, 17, 22, 9, 11, 2, 9, 47, 10, 23, 30, 9, 27, 21, 80, 43, 10, 9, 9, 19, 11, 17, 10, 9, 19, 9, 9, 9, 20, 30, 19, 12, 7, 21, 9, 11, 36, 11, 5, 2, 23, 33, 3, 20, 20, 35, 13, 3, 5, 13, 22, 6, 3, 21, 4, 5, 31, 4, 21, 3, 12, 2, 12, 2, 44, 2, 37, 30, 12, 6, 3, 47, 5, 3, 31, 25, 3, 13, 26, 2, 2, 78, 4, 30, 3, 12, 3, 3, 6, 22, 6, 18, 40, 20, 5, 13, 6, 20, 37, 7, 6, 13, 11, 7, 12, 20, 6, 7, 26, 8, 21, 20, 51, 8, 12, 6, 23, 93, 10, 82, 77, 8, 99, 6, 5, 10, 18, 23, 6, 8, 21, 39, 18, 28, 12, 26, 1, 40, 1, 42, 1, 1, 31, 9, 9, 19, 18, 7, 19, 10, 23, 28, 20, 11, 7, 9, 15, 9, 91, 18, 27, 30, 21, 28, 12, 12, 9, 12, 9, 8, 21, 9, 17, 24, 7, 22, 2, 189, 33, 3, 6, 21, 4, 35, 26, 3, 32, 26, 26, 29, 3, 28, 4, 4, 4, 5, 94, 4, 13, 15, 41, 33, 22, 32, 18, 18, 16, 5, 14, 20, 11, 31, 5, 10, 7, 21, 23, 77, 5, 21, 13, 11, 21, 11, 50, 8, 12, 7, 11, 17, 26, 38, 56, 90, 34, 20, 13, 11, 19, 10, 31, 27, 4, 24, 2, 3, 5, 5, 32, 25, 4, 4, 27, 18, 21, 44, 28, 25, 20, 18, 14, 6, 27, 32, 66, 15, 17, 47, 10, 8, 32, 8, 17, 28, 5, 1, 1, 40, 24, 34, 7, 24, 5, 23, 19, 7, 37, 27, 23, 29, 45, 11, 33, 10, 23, 29, 14, 15, 14, 23, 20, 15, 38, 93, 66, 13, 14, 32, 5, 12, 19, 6, 21, 18, 26, 14, 14, 26, 19, 27, 27, 29, 8, 99, 1, 1, 25, 17, 9, 9, 14, 29, 7, 83, 44, 28, 9, 30, 28, 19, -1, 12, 8, 29, 9, 19, 18, 3, 31, 3, 19, 65, 51, 76, 5, 64, 22, 16, 15, 3, 7, 12, 61, 22, 23, 2, 14, 22, 18, 44, 37, 36, 20, 21, 72, 82, 81, 71, 97, 27, 6, 29, 19, 55, 11, 31, 27, 30, 28, 18, 13, 19, 5, 99, 16, 90, 97, 41, 40, 1, 32, 1, 7, 17, 27, 13, 8, 23, 18, 49, 12, 28, 62, 38, 15, 30, 7, 17, 21, -1, 34, 20, 14, 7, 26, 70, 19, 28, 5, 40, 38, 2, 38, 17, 4, 5, 3, 27, 19, 4, 11, 8, 5, 8, 8, 17, 24, 21, 29, 8, 4, 36, 9, 22, 17, 37, 18, 11, 33, 90, 16, 31, 24, 9, 16, 15, 5, 36, 30, 6, 15, 4, 22, 2, 4, 7, 6, 32, 25, 14, 11, 18, 14, 14, 5, 15, 37, 25, 7, 19, 8, 29, 10, 17, 18, 11, 12, 9, 7, 20, 7, 25, 10, 9, 20, 12, 2, 22, 4, 4, 22, 14, 4, 4, 21, 3, 33, 17, 17, 4, 22, 30, 2, 4, 15, 8, 23, 32, 80, 8, 7, 15, 8, 12, 14, 11, 10, 25, 4, 8, 5, 17, 10, 5, 10, 21, 5, 10, 30, 28, 18, 17, 10, 39, 34, 2, 6, 6, 21, 21, 7, 24, 6, 20, 8, 19, 93, 15, 50, 9, 10, 21, 10, 9, 9, 10, 9, 77, 19, 10, 19, 18, 17, 18, 5, 4, 3, 24, 30, 6, 31, 2, 33, 20, 6, 2, 13, 3, 37, 34, 29, 2, 4, 6, 4, 12, 29, 21, 20, 8, 21, 4, 8, 14, 15, 7, 14, 38, 8, 34, 14, 44, 40, 30, 1, 23, 1, 10, 7, 9, 9, 21, 9, 24, 11, 7, 27, 9, 29, 9, 9, 20, 10, 9, 21, 10, 19, 18, 18, 9, 10, 10, 22, 22, 7, 37, 17, 11, 7, 5, 9, 20, 7, 36, 19, 17, 8, 15, 19, 2, 16, 6, 3, 14, 4, 22, 2, 6, 19, 5, 22, 2, 3, 14, 5, 2, 28, 31, 6, 11, 18, 17, 5, 2, 33, 6, 15, 3, 3, 17, 25, 6, 29, 5, 17, 5, 8, 17, 5, 32, 5, 11, 8, 25, 10, 11, 14, 19, 29, 32, 27, 22, 11, 7, 11, 5, 22, 8, 10, 20, 19, 16, 18, 17, 21, 37, 32, 7, 45, 24, 11, 11, 7, 10, 15, 27, 7, 10, 5, 10, 29, 10, 31, 7, 22, 19, 5, 10, 31, 18, 40, 10, 8, 16, 1, 1, 13, 30, 33, 1, 23, 1, 22, 1, 1, 17, 28, 27, 10, 18, 11, 11, 7, 9, 19, 20, 19, 23, 34, 55, 23, 11, 21, 20, 18, 99, 21, 12, 7, 19, 27, 19, 22, 17, 77, 15, 21, 2, 19, 32, 37, 35, 23, 17, 73, 30, 2, 14, 6, 41, 33, 8, 15, 12, 43, 9, 17, 9, 14, 17, 9, 7, 61, 63, 9, 18, 20, 45, 18, 11, 63, 7, 10, 9, 49, 10, 63, 10, 25, 10, 9, 11, 24, 14, 7, 71, 9, 7, 11, 52, 62, 23, 53, 23, 14, 18, 39, 19, 6, 23, 14, 18, 5, 3, 5, 18, 6, 22, 32, 15, 35, 15, 37, 5, 43, 2, 3, 4, 5, 4, 16, 5, 4, 44, 2, 66, 78, 48, 2, 5, 82, 15, 23, 6, 19, 3, 14, 20, 38, 40, 20, 2, 6, 13, 33, 21, 5, 23, 29, 16, 38, 2, 15, 4, 76, 3, 24, 21, 26, 42, 44, 5, 17, 2, 4, 6, 3, 16, 3, 15, 4, 5, 19, 8, 98, 37, 8, 8, 16, 19, 29, 16, 11, 58, 37, 62, 10, 4, 8, 4, 16, 14, 7, 6, 14, 7, 41, 6, 41, 47, 71, 17, 19, 53, 10, 4, 47, 20, 23, 22, 28, 35, 23, 15, 36, 28, 67, 7, 37, 44, 30, 8, 6, 18, 17, 26, 45, 47, 41, 10, 4, 15, 8, 21, 23, 17, 20, 19, 10, 49, 77, 10, 38, 37, 25, 22, 10, 1, 21, 31, 1, 20, 40, 49, 23, 42, 33, 25, 18, 29, 22, 1, 1, 1, 1, 31, 30, 40, 17, 27, 7, 24, 7, 18, 5, 2, 38, 5, 5, 55, 5, 16, 3, 5, 13, 24, 10, 10, 6, 19, 28, 47, 6, 77, 8, 26, 8, 16, 8, 14, 8, 1, 1, 16, 9, 27, 9, 4, 3, 13, 20, 41, 26, 18, 23, 9, 9, 59, 14, 19, 11, 11, 11, 2, 27, 23, 48, 19, 4, 2, 15, 16, 29, 24, 82, 99, 77, 20, 7, 32, 19, 43, 15, 1, 1, 28, 1, 16, 1, 34, 17, 77, 15, 9, 25, 21, 10, 21, 9, 22, 23, 5, 22, 20, 13, 26, 2, 33, 59, 3, 27, 8, 28, 22, 6, 11, 24, 22, 16, 77, 9, 2, 29, 9, 9, 23, 9, 18, 24, 7, 10, 17, 22, 32, 11, 34, 15, 18, 21, 3, 26, 3, 2, 15, 43, 24, 31, 13, 28, 5, 18, -1, 5, 16, 13, 30, 22, 6, 32, 29, 5, 29, 14, 6, 8, 24, 13, 1, 12, 53, 7, 21, 14, 10, 17, 16, 14, 27, 18, 25, 7, 10, 42, 13, 9, 27, 21, 40, 42, 26, 18, 22, 18, 36, 11, 10, 9, 8, 18, 11, 7, 26, 9, 44, 54, 10, 44, 7, 29, 17, 35, 33, 29, 18, 20, 21, 27, 22, 24, 27, 25, 21, 22, 22, 48, 31, 6, 3, 15, 25, 4, 3, 2, 4, 24, 15, 35, 7, 2, 15, 4, 31, 4, 30, 6, 2, 5, 19, 4, 23, 16, 39, 3, 22, 31, 24, 5, 20, 26, 5, 28, 17, 30, 4, 16, 21, 5, 4, 48, 36, 8, 3, 40, 4, 5, 27, 32, 15, 31, 14, 25, 2, 23, 19, 32, 20, 26, 4, 17, 38, 22, 28, 31, 5, 14, 4, 27, 24, 5, 8, 22, 6, 20, 17, 16, 39, 31, 40, 8, 19, 36, 11, 23, 19, 17, 8, 8, 6, 41, 45, 37, 6, 29, 8, 16, 32, 27, 6, 25, 40, 17, 27, 17, 37, 16, 21, 27, 3, 23, 8, 10, 25, 27, 27, 8, 35, 14, 34, 7, 31, 14, 24, 43, 45, 7, 8, 11, 10, 10, 23, 10, 13, 27, 6, 27, 31, 20, 30, 10, 18, 36, 11, 8, 6, 16, 15, 22, 14, 20, 25, 4, 92, 10, 11, 10, 44, 28, 26, 13, 8, 29, 27, 9, 1, 1, 37, 36, 37, 33, 1, 26, 43, 20, 1, 44, 1, 33, 42, 41, 1, 33, 1, 22, 21, 25, 21, 33, 41, 21, 1, 33, 27, 1, 36, 30, 38, 1, 21, 23, 35, 1, 1, 30, 13, 39, 17, 18, 27, 55, 13, 7, 24, 19, 11, 15, 43, 21, 29, 12, 25, 23, 5, 15, 98, 24, 32, 29, 18, 99, 27, 45, 26, 20, 19, 1, 24, 23, 28, 22, 14, 99, 33, 22, 7, 31, 11, 7, 25, 20, 38, 20, 9, 8, 18, 4, 28, 39, 3, 2, 32, 14, 19, 4, 3, 5, 20, 11, 20, 27, 11, 7, 24, 14, 13, 20, 7, 39, 18, 10, 22, 8, 17, 12, 30, 29, 13, 23, 35, 44, 4, 79, 71, 13, 30, 40, 31, 13, 23, 11, 29, 17, 16, 12, 11, 19, 45, 27, 13, 95, 38, 29, 9, 9, 22, 36, 36, 28, 11, 31, 7, 77, 11, 16, 46, 13, 35, 13, 44, 28, 12, 20, 8, 33, 32, 17, 23, 21, 11, 9, 29, 24, 17, 12, 47, 25, 17, 38, 37, 27, 7, 10, 27, 11, 77, 74, 17, 41, 22, 19, 9, 33, 24, 45, 21, 39, 5, 14, 17, 22, 77, 25, 5, 17, 13, 15, 3, 7, 11, 25, 28, 23, 15, 24, 23, 34, 8, 10, 23, 30, -1, 33, 20, 9, 10, 24, 2, 2, 7, 3, 9, 8, 24, 15, 55, 25, 34, 11, 5, 20, 14, 23, 33, 29, 31, 43, 24, 15, 39, 14, 25, 25, 2, 18, 23, 5, 22, 5, 22, 30, 4, 24, 2, 32, 15, 55, 26, 24, 30, 28, 68, 24, 33, 80, 16, 2, 24, 36, 4, 27, 27, 34, 33, 14, 27, 37, 2, 12, 11, 26, 24, 19, 24, 34, 2, 13, 27, 26, 14, 2, 23, 13, 24, 25, 32, 31, 33, 24, 22, 15, 24, 22, 16, 27, 48, 36, 15, 2, 20, 8, 19, 82, 24, 15, 4, 23, 30, 45, 6, 3, 88, 44, 2, 15, 34, 24, 4, 2, 26, 3, 22, 2, 30, 25, 4, 29, 17, 23, 32, 24, 89, 15, 12, 6, 47, 2, 3, 28, 21, 4, 42, 32, 3, 33, 34, 4, 25, 20, 29, 39, 5, 25, 4, 23, 5, 37, 3, 31, 36, 16, 15, 3, 22, 7, 20, 19, 26, 8, 23, 24, 18, 20, 18, 26, 2, 46, 16, 4, -1, 2, 5, 6, 25, 26, 3, 32, 2, 4, 3, 21, 20, 22, 11, 25, 17, 11, 5, 2, 20, 21, 14, 22, 12, 3, 30, 22, 6, 14, 16, 99, 11, 36, 3, 28, 23, 12, 31, 6, 3, 21, 7, 23, 12, 2, 13, 13, 33, 5, 26, 14, 7, 7, 22, 30, 40, 17, 33, 11, 80, 16, 22, 13, 35, 15, 34, 58, 19, 54, 6, 19, 26, 11, 25, 35, 30, 43, 23, 17, 42, 32, 13, 30, 33, 19, 4, 23, 7, 6, 15, 55, 20, 80, 21, 20, 31, 42, 13, 52, 37, 8, 43, 20, 23, 15, 18, 20, 19, 41, 8, 25, 28, 22, 7, 99, 84, 45, 77, 21, 73, 8, 10, 23, 16, 14, 30, 19, 24, 17, 37, 26, 12, 33, 19, 25, 49, 72, 17, 28, 31, 6, 8, 21, 25, 66, 16, 26, 8, 14, 22, 11, 14, 16, 33, 31, 6, 7, 16, 8, 25, 12, 19, 21, 5, 8, 77, 75, 37, 26, 58, 44, 19, 46, 15, 44, 22, 13, 17, 10, 17, 14, 29, 30, 26, 21, 7, 6, 9, 2, 19, -1, 2, 10, 4, 14, 16, 6, 28, 24, 14, 22, 12, 6, 8, 23, 11, 8, 14, 20, 15, 16, 13, 33, 12, 7, 6, 18, 7, 17, 19, 13, 32, 12, 13, 19, 16, 23, 26, 39, 9, 8, 17, 28, 24, 44, 21, 13, 32, 4, 16, 2, 29, 26, 8, 19, 28, 25, 31, 31, 1, 26, 1, 30, 67, 12, 13, 27, 29, 99, 31, 77, 1, 20, 12, 1, 25, 49, 1, 1, 13, 99, 1, 31, 22, 26, 24, 30, 29, 1, 1, 41, 18, 34, 25, 18, 24, 35, 29, 22, 1, 24, 1, 50, 36, 98, 12, 13, 24, 28, 1, 13, 18, 30, 1, 36, 18, 18, 1, -1, 1, 35, 24, 1, 18, 99, 38, 21, 30, 17, 31, 40, 30, 18, 4, 1, 24, 28, 1, 18, 1, 19, 21, 1, 1, 44, -1, 34, 1, 31, 14, 23, 3, 28, 6, 5, 33, 7, 72, 21, 83, 7, 28, 17, 1, 40, 1, 40, 38, 47, 8, 11, 7, 17, 47, 7, 18, 7, 34, 21, 20, 3, 4, 18, 14, 46, 17, 42, 14, 18, 6, 8, 6, 22, 3, 18, 9, 29, 99, 10, 7, 9, 10, 14, 21, 2, 3, 5, 6, 3, 26, 4, 6, 21, 6, 4, 23, 15, 17, 2, 18, 19, 16, 10, 32, 24, 21, 21, 25, 9, 11, 23, 14, 33, 13, 9, 7, 10, 50, 9, 19, 17, 3, 4, 2, 26, 2, 26, 19, 28, 26, 25, 10, 10, 11, 10, 7, 4, 26, 11, 32, 39, 10, 11, 17, 25, 20, 30, 30, 41, 5, 43, 23, 24, 27, 32, 36, 13, 25, 5, 18, 20, 34, 16, 32, 6, 8, 8, 20, 10, 7, 1, 1, 38, 16, 1, 1, 1, 210, 208, 16, 7, 207, 192, 195, 250, 13, 35, 200, 10, 9, 29, 199, 187, 8, 11, 210, 26, 194, 193, 29, 34, 208, 29, 202, 206, 189, 11, 20, 9, 21, 214, 33, 30, 194, 192, 9, 7, 18, 210, 2, 17, 203, 209, 203, 27, 18, 28, 29, 15, 199, 25, 18, 14, 10, 59, 7, 192, 19, 28, 190, 7, 195, 187, 30, 24, 209, 211, 13, 19, 30, 184, 199, 10, 21, 20, 9, 7, 11, 33, 15, 7, 22, 28, 16, 193, 25, 3, 2, 196, 186, 15, 17, 6, 4, 34, 200, 269, 184, 26, 16, 28, 25, 21, 27, 203, 14, 182, -1, 185, 183, 5, 2, 3, 13, 201, 190, 3, 33, 16, 28, 15, 17, 4, 2, 186, 204, 13, 24, 27, 15, 32, 191, 28, 24, 7, 28, 25, 34, 192, 207, 2, 19, 14, 5, 3, 23, 29, 218, 205, 34, 26, 3, 33, 209, 191, 196, 229, 4, 184, 30, 5, 29, 31, 33, 3, 24, 15, 183, 5, 18, 204, 17, 21, 4, 2, 26, 19, 3, 13, 45, 8, 27, 17, 12, 3, 184, 204, 21, 4, 14, 13, 3, 32, 2, 20, 4, 23, 3, 181, 183, 4, 28, 24, 6, 23, 26, 20, 18, 188, 22, 18, 4, 22, 3, 2, 15, 18, 197, 5, 15, 12, 11, 20, 7, 247, 21, 25, 5, 14, 19, 27, 188, 190, 210, 194, 204, 239, 243, 17, 6, 20, 8, 5, 201, 8, 28, 21, 33, 26, 196, 190, 199, 28, 12, 20, 22, 183, 23, 6, 7, 22, 189, 20, 6, 17, 16, 14, 22, 26, 21, 199, 195, 8, 26, 197, 6, 26, 16, 196, 210, 197, 8, 17, 19, 14, 6, 31, 32, 204, 242, 194, 16, 10, 25, 6, 27, 187, 8, 20, 26, 10, 23, 19, 187, 210, 5, 6, 19, 4, 22, 23, 24, 16, 11, 28, 15, 5, 33, 29, 6, 207, 18, 30, 14, 10, 198, 208, 257, 26, 6, 17, 18, 189, 185, 24, 17, 6, 16, 22, 190, 195, 15, 14, 13, 21, 11, 19, 17, 197, 16, 13, 28, 45, 56, 19, 1, 33, 22, 24, 1, 22, 12, 25, 31, 81, 35, 25, 31, 13, 1, 184, 25, 181, 1, 30, 212, 27, 1, 183, 30, 25, 181, 23, 1, 32, 30, 2, 21, 30, 25, 23, 27, 22, 181, 1, 25, 1, 33, 1, 231, 13, 32, -1, 9, 9, 9, 5, 2, 4, 21, 5, 18, 16, 52, 1, 24, 31, -1, 9, 9, 10, 30, 15, 24, 3, -1, 8, 20, 22, 7, 8, 11, 30, 6, 20, 24, 1, 11, 84, 27, 62, 31, 42, 57, 20, 20, 9, 99, 7, 17, 6, 8, 39, 2, 99, 24, 19, 4, 6, 22, 6, 13, 7, 26, 23, 9, 29, 3, 3, 6, 5, 27, 12, 3, 12, 30, 8, 23, 24, 35, 3, 7, 45, 8, 25, 17, 91, 18, 77, 22, 11, 33, 17, 15, 13, 99, 15, 4, 5, 19, 24, 6, 12, 25, 20, 1, 11, 23, 20, 26, 10, 3, 28, 20, 15, 8, 25, 46, 9, 23, 99, 80, 19, 40, 10, 9, 8, 7, 7, 92, 11, 62, 90, 30, 32, 38, 10, 84, 9, 80, 49, 17, 17, 7, 18, 40, 10, 9, 23, 28, 27, 20, 11, 11, 91, 21, 23, 81, 24, 10, 30, 2, 23, 2, 5, 23, 42, 75, 20, 13, 14, 13, 21, 2, 29, 14, 33, 16, 3, 16, 14, 65, 70, 33, 37, 37, 23, 42, 2, 95, 77, 2, 21, 22, 42, 43, 45, 3, 24, 4, 27, 28, 99, 33, 5, 2, 4, 19, 18, 44, 46, 36, 15, 32, 95, 44, 83, 30, 66, 98, 13, 15, 3, 24, 27, 4, 6, 3, 5, 30, 33, 3, 14, 38, 4, 19, 84, 12, 25, 6, 22, 59, 50, 14, 46, 28, 25, 38, 21, 33, 32, 27, 20, 90, 24, 28, 23, 35, 80, 5, 38, 73, 4, 7, 52, 64, 61, 60, 68, 32, 85, 30, 5, 10, 16, 14, 19, 6, 32, 28, 5, 23, 16, 80, 87, 25, 40, 32, 20, 29, 65, 5, 21, 41, 20, 16, 36, 4, 14, 30, 5, 22, 35, 21, 28, 23, 70, 38, 22, 8, 20, 31, 99, 1, 22, 1, 34, 16, 39, 38, 47, 25, 28, 33, 34, 34, 23, 50, 1, 40, 30, 63, 83, 57, 69, 78, 31, 29, 18, 22, 1, 66, 16, 23, 12, 77, 40, 93, 1, 72, 70, 1, 62, 33, 94, 23, 36, 42, 38, 1, 31, 80, 1, 25, 12, 1, 22, 30, 21, 95, 1, 13, 12, 12, 21, 11, 17, 29, 6, 16, 11, 18, 77, 4, 15, 21, 23, 12, 12, 6, 18, 8, 27, 6, 23, 4, 72, 18, 48, 16, 8, 6, 17, 28, 33, 29, 23, 19, 7, 20, 9, 14, 24, 24, 92, 23, 17, 2, 29, 5, 31, 6, 31, 18, 11, 10, 99, 9, 22, 5, 9, 27, 27, 12, 36, 37, 45, 2, 5, 10, 24, 36, 18, 20, 71, 98, 20, 11, 34, 29, 26, 7, 23, 7, 17, 14, 33, 61, 25, 21, 35, 79, 77, 20, 9, 15, -1, 77, 89, 16, 30, 12, 11, 2, 18, 3, 44, 8, 72, 11, 41, 1, 27, 15, 16, 39, 30, 22, 3, 15, 14, 4, 24, 22, 16, 8, 17, 21, 1, 40, 47, 18, 23, 14, 29, 22, 20, 41, 4, 7, 3, 22, 10, 8, 1, 13, 35, 18, 19, 7, 45, 2, 17, 3, 2, 12, 2, 22, 20, 33, 25, 10, 26, 32, 24, 42, 62, 7, 10, 7, 11, 3, 10, 7, 19, 22, 21, 33, 6, 3, 4, 14, 7, 10, 7, 38, 8, 60, 1, 50, 11, 12, 12, 21, 25, 9, 11, 13, 6, 15, 20, 5, 49, 24, 37, 33, 23, 19, 33, 31, 68, 24, 11, 13, 16, 1, 1, 23, 29, 14, 7, 31, 2, 27, 7, 19, 18, 22, 2, 2, 3, 34, 16, 5, 5, 27, 5, 35, 6, 22, 3, 32, 14, 5, 22, 35, 25, 37, 16, 12, 14, 17, 59, 55, 19, 94, 18, 29, 66, 7, 1, 50, 31, 6, 16, 30, 65, 31, 77, 26, 31]

In [35]:
# Set data type for weight
weight_int=[]
for weight in player_data_df["weight_(lbs)"]:
    
    try:
        new_type = int(weight)
    except:
       new_type = -1
    
    weight_int.append(new_type)
    
print(weight_int)

[183, 183, 152, 179, 150, 172, 161, 161, -1, 179, 161, 185, -1, 150, 192, 183, 150, 137, 163, 150, 150, 174, 161, 152, 157, 146, -1, 170, 172, 148, 148, 168, 148, 159, 168, 148, 163, 137, 163, 183, 137, 183, 139, 139, 161, 152, 159, -1, 168, 183, 183, 139, 172, 150, 128, 181, 172, 201, 192, 179, 183, 183, 183, 159, 172, 163, 170, 152, -1, -1, 152, 137, -1, 146, 179, -1, 190, 141, 161, 190, 170, 148, -1, 159, 159, 150, 157, 161, 161, 172, 174, 183, -1, 161, 161, 161, 174, 159, 190, 174, 161, 148, 163, 172, 161, 190, 150, 152, 152, 146, -1, -1, 157, 168, 152, 170, 170, -1, -1, 172, 150, 150, -1, 159, -1, 174, 150, 174, 168, 161, -1, 141, 168, 181, 181, 119, 130, 146, 190, 157, 174, 146, 150, 170, 174, 161, 132, 141, 163, -1, 137, 146, 168, 137, 172, -1, 139, -1, 152, 172, 152, 172, 161, 190, -1, 137, 174, 139, 161, -1, -1, -1, 130, 181, 150, -1, 170, 172, 172, 152, 179, 172, 168, -1, 139, -1, -1, 170, 172, 159, 163, 152, 170, 150, 183, 170, 159, -1, 168, 163, 152, 172, 157, 181, 172, 190, 139, 148, 172, -1, 172, 159, 168, 161, 150, 152, 161, 168, 161, -1, 159, 174, 163, 152, 179, -1, 172, 152, 172, -1, 172, 141, 179, 159, 163, 181, 179, -1, 168, 174, 179, 163, 161, 159, 159, 170, 150, 170, 148, 152, -1, 183, 150, 168, 150, -1, -1, 163, 152, 163, -1, -1, -1, -1, 148, 159, 139, 183, 159, 163, -1, 192, 159, 161, 152, 150, 148, 159, 201, 183, -1, 150, 150, 174, 152, 161, 168, 150, 146, 183, 161, 168, 161, 152, 161, 163, -1, 161, 163, 150, 161, 163, 141, 152, -1, 170, 163, 161, -1, 150, -1, -1, 170, 150, 139, 93, 157, 157, 168, 163, 172, -1, 152, 152, 161, 150, -1, 183, 157, 150, 179, 183, 161, -1, 132, 141, 148, 150, 157, 159, 174, 159, 150, 161, 150, 179, 150, 146, 170, 168, 161, 163, 168, 152, 170, 170, 139, 161, 132, -1, 152, 152, 128, 137, 172, 159, 170, 174, -1, 139, 159, 146, -1, 150, 161, 148, 148, -1, -1, 137, -1, 176, 157, 170, 159, 190, -1, 150, 159, 139, 150, -1, -1, 146, 150, 152, 148, 163, 148, -1, 183, 130, 141, 152, 146, 139, 139, 161, 152, -1, -1, -1, 159, 141, -1, 174, 150, 172, 174, 181, 152, 168, 146, 139, 159, -1, 148, 168, 152, -1, 168, 172, 172, 181, 121, 141, 139, 163, 132, 148, 170, 181, 150, 152, 172, -1, -1, 203, 181, 163, 161, 163, 185, -1, 168, -1, -1, 192, 174, 174, 179, -1, -1, 203, 157, 183, 179, 150, -1, 192, 179, 168, 168, 185, -1, 172, 181, 161, 185, 192, 157, 172, -1, 172, 170, 163, -1, -1, 146, 181, 185, 152, 170, 174, 172, -1, 174, 174, 196, 163, 185, 192, 146, 203, 152, 157, 190, 183, -1, 172, -1, 183, -1, 163, 117, 110, 163, 183, 185, 168, -1, 168, 181, 161, 141, 152, 205, 146, 161, 159, 159, 181, 168, 170, 172, 203, 168, 141, 183, 163, 150, 172, 137, 172, 148, 163, 161, 163, 161, 141, -1, -1, 161, 157, 139, -1, 161, -1, -1, 152, 141, -1, -1, 152, 163, 183, 163, 170, 161, 141, 139, 163, -1, 172, -1, 163, 152, 150, -1, 172, -1, 190, 172, 128, 201, 196, 152, 150, 150, 170, 141, 150, 172, 181, -1, -1, 150, 168, -1, 183, 192, 150, 183, 194, 194, 161, -1, 163, 170, 183, 196, 170, 172, 181, 161, 168, 172, 168, 159, 192, 170, 172, 150, 141, 192, 163, 161, 172, 183, 163, 161, -1, -1, 148, 170, 152, 148, 161, -1, -1, -1, 194, 168, -1, -1, -1, 183, 192, 150, 192, -1, 159, 152, 201, 170, 168, 163, 174, 168, 161, 150, 170, 152, 163, 168, -1, 183, 150, -1, 192, 161, 192, 172, 161, 152, 172, 161, -1, 150, 185, 181, 172, 214, 185, -1, -1, -1, -1, -1, 201, -1, -1, 181, 179, 150, 168, -1, -1, -1, 163, 163, 179, 192, 150, 159, 172, 163, 110, 212, 203, 161, 179, 207, 179, 203, 183, 163, 148, 203, 174, 152, 163, 139, 179, 150, 130, 183, 146, 168, 152, 152, 174, 170, 174, 148, 168, 161, 170, 161, 141, 179, 163, 117, 141, 150, -1, 168, 150, -1, -1, 179, 139, 150, 157, 203, 121, 152, 179, 152, -1, -1, 183, 148, 159, -1, 150, 161, 181, 152, 132, 161, 161, 150, 168, 141, 157, 159, 157, 181, 172, -1, 148, 148, 150, 141, -1, 183, 132, -1, 170, 150, 130, 163, 161, 148, -1, 141, 170, 163, 163, 137, -1, -1, 163, -1, -1, -1, -1, -1, -1, 128, 148, 161, -1, 152, 139, 159, -1, -1, 170, 150, 183, 159, 172, 172, 157, 172, 150, 117, 159, 139, 121, 126, 150, 152, -1, -1, 168, 161, 161, 161, 203, 172, -1, 179, 192, 172, 161, 181, 172, 185, 163, 172, 183, 192, -1, -1, 185, 161, 181, 194, 192, 205, 196, 172, 163, -1, 157, 152, 181, 192, 190, 181, -1, 168, 179, 174, 172, 183, 203, 161, 159, 183, -1, -1, 150, 212, 196, 174, 174, 137, 150, 170, 172, 179, 163, 170, 183, 159, 148, 157, 139, 146, 150, 152, 174, 170, 172, 161, 168, 192, 161, 183, 146, 157, 174, 139, 172, 163, 132, 159, 174, 181, 185, 181, 183, 172, 192, 163, 183, 163, 183, 172, 172, 183, 196, -1, 170, 172, 159, 150, 161, 181, 185, 161, 179, 174, 152, 179, 172, 170, 170, 168, 190, 201, 170, 183, 212, 170, 179, 194, 159, 148, 150, 161, 139, 203, 170, 146, 150, 157, 183, 174, 141, 157, 190, 146, 185, 172, 152, 139, 139, 183, -1, 152, 152, 183, 183, 170, 163, 183, 128, 117, -1, 117, 183, 152, 170, 190, 148, 168, 179, 139, 161, 163, 161, 148, 159, 168, 174, 157, 172, 163, 130, 179, 152, 159, 168, 152, 148, 192, 161, 181, 192, 163, 181, 181, 157, 194, 150, 146, 150, 161, 172, 150, 174, 172, 174, 172, 174, -1, 183, 203, 181, 172, 161, 172, 168, 141, -1, 141, 150, -1, 119, 172, 185, 172, 172, 159, 172, 183, 163, 168, 161, 179, 152, 141, -1, 157, 161, 183, 163, 152, 172, 168, 150, 159, 172, 152, 159, 163, 172, 161, 161, 157, 150, 168, 157, 130, 130, 130, 117, 128, 130, 159, 157, 150, 146, 161, 174, 161, 183, 150, 163, -1, 192, 183, 183, 203, 183, 201, 190, 161, 159, 152, 139, 168, 161, 152, 159, 183, 141, 141, 152, 168, 161, 172, 192, 152, 163, 148, -1, 152, 132, 161, 152, 152, 183, 137, 163, 168, 130, 161, 141, 146, 185, 150, 161, 174, 172, 163, 141, 161, 161, 152, 172, 183, 205, 159, 159, 203, 161, 185, 170, 192, 163, 179, 159, 168, -1, 146, 174, 161, 172, 130, 130, 161, 141, -1, 159, 150, 179, 152, 159, 150, 170, 146, 148, 150, 174, 132, 146, 146, -1, 152, 179, 119, 170, 163, 161, 168, 159, 203, -1, 183, 150, 146, 132, 150, 139, 163, 168, 196, 161, 179, 179, 179, 159, 141, 172, -1, 183, 159, 174, 172, 152, 168, 179, 163, 174, 172, 172, 132, -1, -1, 161, -1, 157, 168, 183, 159, 150, 148, 174, 172, 163, -1, 172, -1, 150, 161, 163, 152, 174, 148, -1, 128, 168, 152, 172, 159, -1, 163, 168, 152, 170, 172, -1, 148, 150, 168, -1, 168, -1, 168, 163, -1, 161, 152, 181, -1, 157, 141, 157, 121, -1, 161, 152, 150, 146, 152, 183, 207, 174, 183, 168, 196, 190, 152, 163, 179, 152, 185, 150, -1, 194, 150, 183, 183, 161, 148, 117, -1, 152, 163, 203, 190, 163, 150, 150, 172, -1, -1, 181, 183, 185, 172, 146, 163, 150, 185, 161, 152, 150, 121, 115, -1, -1, -1, 152, 172, 168, 150, 159, 159, 139, -1, 174, 130, 161, 150, 157, 163, 152, 150, 139, 150, 170, 179, 157, 119, 146, -1, 192, 201, 172, 170, 161, 190, 183, 150, 203, 168, 172, 192, 172, 146, 157, 179, 168, 128, -1, -1, 161, -1, 159, 150, 130, 172, -1, -1, 159, 161, 141, 174, 152, -1, 174, 139, 161, 161, -1, 159, 183, 183, 172, 168, 181, 181, 148, 137, 152, 128, -1, 172, 161, 168, 152, 159, 152, 163, 179, 159, 141, 157, 174, 152, 196, 152, 132, -1, 172, 174, 172, 174, 201, 150, -1, 181, 161, 183, 168, 119, 161, 152, 150, 172, -1, 159, 139, 150, 146, 152, 170, 159, -1, 201, 168, 174, 152, 163, 150, 150, 179, 172, 172, 168, 163, 168, 161, 170, 141, 179, 161, 157, 170, 132, 159, 172, 163, -1, 185, 170, 161, 172, 161, 152, 172, 185, 170, 201, 159, 168, 172, 161, 168, 170, 152, 150, 150, 157, 130, 130, 179, 161, 150, -1, 170, 152, 179, 157, 139, 150, 137, 139, 163, 157, 159, 150, 150, 161, 148, 157, 192, 152, 152, 163, 172, 152, 141, 150, 150, 161, 159, 157, 152, 121, 190, 172, 183, 150, 139, 148, -1, 148, 183, 179, 170, 161, 148, 168, 159, 148, 183, 194, 161, 174, 139, 183, 170, 174, 159, 185, 172, 174, -1, 174, 179, 163, 172, 157, 203, 163, 179, 172, 126, 161, 128, 161, 159, 183, 172, 161, 168, 170, 152, 183, 132, 168, 163, 172, 192, 181, 146, 183, 192, 150, 179, 179, 181, 139, 141, 172, 132, 190, 172, 150, 161, 179, 190, 163, 159, 163, 163, 159, 152, -1, 179, 161, 150, 159, 159, 179, 150, 163, 159, 161, 159, 168, 146, 139, 119, 170, 157, 174, 183, 152, 150, 172, 152, 181, 161, 161, 172, 174, 161, 172, 185, 181, 170, 183, 146, 172, 185, 183, 163, 172, 192, -1, 163, 185, 150, 159, 152, 159, 181, 181, 157, 172, 174, 170, 150, 152, 172, 183, 172, 168, 152, 161, 174, 148, 150, 148, 157, 150, 161, 174, 150, 130, 139, 150, 139, 152, 170, 150, 174, 141, 150, 161, 168, 163, -1, 150, -1, 170, 174, 161, 179, 137, 152, 128, 192, 174, 150, 115, 150, 150, 172, 139, 139, 161, 150, 174, 161, 148, 161, 132, 146, 150, 146, 150, 168, 161, 152, 181, 196, -1, 181, 185, 181, 212, 172, 203, 192, 159, 172, 146, 141, 163, 159, 172, -1, 185, 183, 139, 183, 163, 168, 161, 183, 150, -1, -1, -1, 181, 172, 168, 183, 161, -1, 185, 181, 161, 161, 205, 170, 157, 157, -1, -1, -1, 172, 161, -1, 150, 172, 150, 174, 161, 170, 150, 183, 152, 152, 190, -1, 170, 161, -1, 157, 150, -1, -1, 174, 161, 152, -1, 161, 152, -1, 163, 159, 146, 161, 159, -1, 152, 168, 172, 185, 194, 157, 159, 159, -1, 183, 150, 163, -1, -1, -1, -1, 148, 168, 152, 168, -1, 179, 163, 183, 139, -1, 183, 181, 141, 179, 161, 148, 183, -1, 172, 150, 152, 152, 148, 146, 163, 192, 174, 146, 170, 170, 192, 170, 159, -1, -1, 174, 174, -1, 181, 194, 174, 148, 161, 148, 150, -1, -1, 161, 157, 194, 152, 192, -1, 196, 163, 159, 179, -1, -1, 172, 168, -1, 152, 181, 170, 183, -1, -1, 161, 148, 183, 179, 181, 150, 161, 148, 157, 139, 163, 152, 121, 157, -1, 192, 174, 181, 148, 159, 150, 152, -1, 172, -1, 161, 152, 170, 157, 152, -1, 146, 152, 161, 192, -1, 159, -1, -1, -1, 163, 139, -1, 168, 159, 152, -1, 163, 152, -1, -1, 161, 146, 141, 157, -1, 168, -1, -1, 170, 159, 168, 157, 139, 159, -1, -1, 183, 172, 152, 150, 150, -1, 170, 170, 161, 161, 161, -1, -1, 163, -1, -1, -1, 192, -1, 185, -1, 192, 181, 203, 181, 159, 172, 192, 185, 161, 163, 183, 168, 168, 192, 183, 185, 172, 185, 203, 163, 161, 183, 170, -1, 150, 174, 170, 150, 216, 183, 194, 172, -1, 150, 207, 183, 174, 172, 146, 172, 168, 170, 168, 170, 152, 181, 174, 168, 159, 172, 174, 172, 183, -1, 174, 181, 179, 168, 172, 163, 163, 150, -1, 161, 139, 183, 179, 163, 150, 174, 150, 170, 170, 192, 157, 174, 170, -1, 170, -1, 172, 163, 139, 152, 152, -1, 179, 161, 168, 152, 117, 150, 183, 172, -1, 172, 183, 196, 161, 183, -1, 148, 152, 181, 159, 190, -1, 159, 152, 174, 148, 172, 181, 168, 150, 159, 183, 161, -1, 179, 152, 150, -1, 132, -1, 172, 141, -1, 152, 172, 181, 174, 159, 179, 179, 183, 181, 168, 150, -1, 194, -1, 128, 128, 179, 172, 170, 181, 163, 172, 159, 172, 161, 179, -1, 152, 190, 185, -1, 181, 185, 179, 139, 179, 196, 172, 170, 150, 179, 139, 146, 183, 183, 168, 170, 150, 146, -1, 170, 192, 181, 179, 185, 152, 185, 183, 179, 183, 150, 159, 168, 170, 174, 150, 159, 161, 185, 196, 183, -1, 190, 190, 161, 183, 161, 163, 185, 192, 152, 179, 163, 157, 172, 183, 172, 137, 161, 181, 172, 163, 163, 172, 194, 170, 172, 174, 190, 172, 196, 214, 150, 192, 163, 185, 192, 201, 170, 168, 174, 205, 216, 190, 194, 163, 181, 185, 201, -1, 157, 183, 161, 196, 161, 190, 174, 190, 174, 185, 179, 174, 170, 192, 172, 179, 163, -1, 168, 179, 183, 150, 174, 190, 161, 183, 179, 192, 192, 163, 214, -1, 163, 152, 183, 170, 192, 190, 148, 152, 161, 183, 168, 190, 170, 183, 194, 161, 170, 161, 203, 168, 185, 161, 174, 183, 190, 159, 172, 174, 168, 174, 168, 174, 163, 157, 150, 190, 146, 168, 157, 183, 172, 172, 157, 190, 183, 179, 161, 181, 163, -1, -1, 152, 179, 159, 168, 168, 181, 152, 172, 179, 168, 157, 163, 159, 146, 152, 163, 174, 172, 168, 159, 161, 150, 163, 172, 163, 161, 185, 163, 159, 170, 159, 152, 152, 163, 161, 183, 170, 152, 139, 179, 181, 168, 150, 163, 161, 179, 159, 168, 172, 161, 170, 170, 161, 148, 152, 159, 163, -1, 194, 163, 157, -1, 159, 161, 201, 183, -1, 159, 172, 150, 183, 172, 161, 185, 181, 183, 163, 183, 196, 203, 192, 201, 183, 190, 205, 194, 192, 207, 194, 183, 192, 196, 185, 192, 172, 174, 192, 174, 192, 172, 183, 212, 192, 183, 172, 194, 183, 214, 179, 181, 174, 185, 192, 196, 218, 181, 192, 152, 161, 196, 161, -1, 163, 181, 185, -1, 172, 163, 141, -1, 161, 172, 152, 192, -1, 196, -1, 170, 172, 179, -1, 172, -1, 139, 161, 203, 172, 161, 163, 181, 179, 183, 168, 179, 148, 157, 150, 159, 152, 201, 172, 185, 183, 203, 172, 181, 185, 183, 146, 181, 181, 157, 194, 181, -1, 163, 170, 168, 159, 157, 161, 168, 161, 172, 150, 161, 170, 172, 148, -1, 161, -1, 192, 185, 185, -1, 150, 157, 146, 152, -1, -1, 192, 174, -1, 181, 183, 152, 152, 146, 196, 146, 174, 163, 170, -1, 172, -1, -1, 172, 192, 174, 183, 150, 152, 172, 152, 161, 207, 150, 172, -1, 201, -1, 183, 161, 181, 172, 163, 174, 170, 163, 172, 161, 170, 179, 161, 190, 172, 185, 183, 172, 163, 139, 161, 185, 168, 150, 172, 146, 150, 150, 174, 150, 183, 157, -1, 163, 196, 121, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 128, -1, 137, -1, -1, -1, -1, -1, -1, -1, 130, -1, -1, -1, -1, 126, -1, -1, -1, -1, -1, -1, 117, -1, 128, -1, -1, -1, 117, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 172, 194, 174, 157, 150, 170, 172, -1, 172, -1, 194, 170, 161, 170, 172, 172, 172, 159, 183, 170, -1, 163, 146, -1, -1, 157, 181, -1, -1, 170, 183, 172, 161, 139, 205, 174, 170, 181, 159, 192, 154, 152, 190, 161, 181, 172, 183, 157, 161, 163, 117, 163, 174, 161, 159, 152, 192, 161, 172, 163, -1, 201, 203, -1, 179, 152, 183, 159, 174, 181, 172, 181, 192, 161, 163, 146, 146, 183, 159, 190, 190, 152, 181, 170, 192, 170, 170, 192, 205, 183, 174, 190, 172, 150, 163, 183, 161, 150, 183, 179, 203, 152, 185, 159, 170, 192, 172, 150, -1, -1, 172, 172, 150, 132, -1, 203, 141, 183, 192, 150, 183, 183, 172, 183, 139, 126, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 128, 163, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 126, -1, -1, -1, -1, -1, -1, -1, -1, 137, 150, -1, -1, -1, -1, 139, -1, -1, 130, 128, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 130, -1, -1, -1, -1, -1, -1, -1, -1, -1, 121, -1, -1, 174, 152, 183, 192, 139, 150, 172, 183, 139, 132, 146, 170, 150, 163, 183, 146, 152, 161, -1, -1, -1, 170, 163, 150, 172, 172, 161, 159, 139, -1, -1, 150, 150, 139, 139, 161, 146, 146, 159, 192, 161, 170, 183, 159, 179, 152, 163, 152, 150, 170, 150, 159, 150, 163, 148, 146, 172, 150, 150, 139, 172, 159, 139, 159, 152, 152, 150, 163, 139, 172, 141, 146, 152, 150, 168, 146, 161, 172, 168, 152, 181, 159, 139, 141, 185, 150, 132, 170, -1, 159, -1, 152, 132, 150, 168, 163, 161, 161, 172, 152, 172, 170, 161, -1, 161, 163, 161, 150, 163, 163, 207, 152, 159, 159, 150, 161, 139, -1, 139, -1, 139, 150, 168, -1, -1, 117, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 159, -1, -1, -1, -1, -1, 121, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 117, -1, -1, -1, 121, 128, -1, -1, -1, 139, -1, -1, 126, -1, -1, -1, 128, -1, -1, -1, 132, -1, -1, -1, -1, 108, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 163, 183, 192, 190, 203, 192, 190, 190, 192, 190, 181, 190, 183, 181, 183, 161, 214, 185, 192, 192, 192, 203, 207, 205, 168, 161, 163, 194, 183, 190, 181, 183, 150, 192, 170, -1, 174, 192, 183, 207, 172, 207, 207, 192, 190, 203, 190, 205, 163, 190, 203, 192, 159, 183, 172, 192, 225, 201, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 161, 146, -1, -1, -1, -1, 150, 159, -1, -1, 183, 183, 172, 185, 161, 179, -1, 172, 168, 174, 150, 190, 161, -1, 163, 190, 170, 179, 214, 185, -1, 148, 174, 141, 157, 146, 163, -1, 159, 119, 130, -1, 183, 159, 163, 172, 152, 139, 148, 150, 152, 150, 150, 168, 115, 95, 159, 170, 174, 183, 170, 163, 152, 148, 141, 132, 170, 152, 183, 192, 161, 192, 183, -1, 174, 192, 141, 163, 172, 179, 183, 183, 174, 170, 172, 139, 168, 163, 170, 152, 174, 194, 174, 205, 185, 163, 161, -1, 185, 172, -1, -1, 172, 137, 152, 157, 172, 183, 139, 159, 161, 163, 157, 181, 150, 163, 172, 130, 183, 150, 159, -1, 168, -1, 192, 174, 172, 185, 172, 163, 179, 172, 183, 203, 183, 157, 174, 161, -1, 168, 172, 201, 183, 168, 170, 174, 150, 161, 179, 172, 174, 168, 159, 150, 192, 174, 192, 174, 172, 185, 185, 163, -1, 128, 168, 141, -1, 168, -1, 132, 152, -1, 152, 161, -1, -1, -1, 141, 157, 148, 117, -1, -1, 150, -1, 146, 139, -1, -1, 152, 137, 117, 174, 161, 159, 161, 183, -1, 146, 163, 128, -1, 170, 148, 150, -1, -1, -1, 150, 141, 163, 130, 183, -1, 152, 152, 159, 170, -1, 183, -1, 150, 128, -1, -1, 168, 150, 141, 150, -1, 150, 157, 141, 137, -1, 185, 170, 150, 152, 181, -1, -1, -1, 137, 168, 170, 152, 163, -1, 163, 157, 146, -1, -1, 168, 152, 148, 163, -1, -1, 170, 174, 174, 157, 148, 137, 141, 172, -1, 183, 170, 130, 157, 157, 146, 159, 152, 130, 172, -1, 141, 172, 148, 163, 150, 141, 172, 192, -1, 163, 168, 152, 161, 150, 163, -1, -1, 161, 139, 139, 150, -1, -1, -1, 139, 168, 203, 139, 161, 97, -1, -1, -1, 150, 168, 185, 163, 148, 172, -1, -1, 152, 170, 163, 152, 161, -1, 150, 168, 150, 157, 128, 163, -1, 163, 148, 152, 163, 159, 150, 150, 170, 168, -1, 130, 179, 137, 150, 152, -1, -1, 132, 146, 152, 128, 139, 137, 141, 172, 159, 183, 150, 117, -1, 159, 130, 152, -1, -1, 152, 137, 150, -1, 172, 128, 152, 172, 139, -1, -1, 130, 159, 152, 148, 132, 141, -1, -1, -1, 139, 137, 150, 130, 150, 172, -1, -1, -1, 159, -1, 128, -1, 170, 161, -1, 126, -1, -1, 161, -1, 115, 137, 157, 130, 150, 150, 130, 150, 161, 159, -1, 174, 157, 161, -1, -1, 137, 146, 141, 128, 137, 130, -1, 150, 128, -1, 139, 146, -1, 161, 150, 152, 126, 119, -1, 137, 148, 128, 161, 137, 130, 150, -1, 121, 139, 161, 150, 141, 190, 139, -1, 150, 159, 150, 161, 137, 139, 141, 150, 132, 163, 150, 150, 148, 157, 139, -1, 148, 157, 161, 152, 141, 130, 141, -1, 139, -1, 150, 172, -1, -1, 117, 137, 148, 119, 146, 150, -1, 152, 146, 150, 148, 132, 130, 159, 128, 128, 141, 148, -1, 150, 146, -1, 174, 163, 181, 139, 159, 161, 174, 161, 172, -1, 183, 161, 159, 174, -1, -1, 172, 185, 159, 183, 172, -1, 179, 139, 172, 181, 163, 161, 172, -1, 190, 174, -1, -1, 196, 179, 181, 174, 159, 163, 168, 146, -1, 183, -1, 148, 185, 150, -1, 179, -1, 185, 183, -1, 181, 150, 141, 181, 163, 168, 141, 172, 150, 170, 172, 172, 161, 161, 179, 152, 161, 139, 150, 170, 168, -1, 157, 161, 161, 152, 161, 170, 159, 181, 150, 130, 152, 192, 163, 148, -1, 163, 172, 152, 163, 163, 139, 168, 152, 170, 150, 172, 192, 141, 161, 172, 168, 174, 150, 157, 170, 170, 137, 141, 152, 181, 172, 152, 179, 146, 130, 172, 194, 150, 163, 179, 161, 137, 132, 150, 163, 161, 148, 150, 148, 161, 159, 157, 181, 141, 159, 159, 139, 161, 183, 157, -1, 192, 181, 190, 172, -1, 161, 161, 163, 168, 192, 172, -1, 159, 174, 174, 179, 170, 163, 161, 163, 190, 161, 163, 161, 172, -1, 183, -1, 159, 159, 170, 161, 163, 159, 159, -1, 185, 174, 185, -1, 159, 148, 161, -1, -1, 174, 172, 152, 148, -1, 139, 163, 161, -1, 183, -1, 172, 150, 172, 148, 174, 150, 128, 170, 150, 172, 185, 174, 157, 185, 172, -1, 152, 174, -1, 181, -1, -1, 183, 152, 190, -1, 172, 161, 152, -1, -1, -1, -1, 163, 170, 148, 152, -1, 152, 163, 152, 150, -1, -1, -1, 192, 172, -1, 152, 172, 168, 163, 172, 168, 172, 150, -1, -1, -1, 152, 192, 163, 163, -1, -1, 172, 183, 159, 163, 183, 159, 183, 170, -1, 185, 174, 201, -1, 163, 179, -1, -1, 174, 181, -1, 141, 150, -1, 183, 161, -1, 185, -1, 152, -1, 148, 190, 139, 168, -1, 161, 163, 150, -1, -1, -1, -1, 163, 168, -1, 174, 170, -1, -1, -1, -1, -1, 163, -1, -1, 163, 168, -1, 185, 137, 170, 170, -1, 137, 150, 161, -1, 152, 150, -1, 152, 139, 148, 146, 163, 157, -1, -1, 148, 168, -1, -1, 161, 163, -1, -1, -1, 128, -1, 157, -1, 172, 172, 141, 174, 196, 170, 161, 181, 192, 174, 168, -1, 181, 168, 172, -1, -1, 192, 192, -1, 185, -1, -1, -1, 172, 192, -1, -1, 183, 183, 159, 170, 174, 152, -1, -1, 174, 183, -1, 181, 174, -1, -1, 161, -1, 196, 181, 185, 185, -1, -1, 163, 174, -1, 163, 161, -1, -1, -1, 185, -1, 205, 181, 183, 172, -1, 161, 108, 152, -1, 146, 159, 152, 161, 141, 172, -1, 168, 161, 161, 150, 172, 152, 159, 196, 159, -1, 150, -1, 170, -1, 163, 174, 148, 150, 161, -1, 163, 181, -1, 181, 139, 181, 150, 161, 161, 161, 172, 172, 163, 146, 172, 181, 128, 170, 172, -1, 174, 152, 159, -1, 185, 183, 163, -1, 148, 137, 170, -1, -1, -1, 159, 174, -1, 152, 130, -1, 152, 152, 174, -1, -1, -1, 161, -1, 172, 172, 172, 172, 179, -1, 179, 139, -1, 146, 157, -1, 179, 170

In [36]:
# Replace converted sections
player_data_df["jersey_number"] = jersey_int
player_data_df["weight_(lbs)"] = weight_int

In [37]:
# Drop league ID
player_data_df = player_data_df.drop(["league_id"], axis=1)

In [38]:
# Deal with na values
player_data_df["goals"] = player_data_df["goals"].fillna(0)
player_data_df["assists"] = player_data_df["assists"].fillna(0)
player_data_df["yellow_cards"] = player_data_df["yellow_cards"].fillna(0)
player_data_df["red_cards"] = player_data_df["red_cards"].fillna(0)
player_data_df["shots"] = player_data_df["shots"].fillna(0)
player_data_df["shots_on_goal"] = player_data_df["shots_on_goal"].fillna(0)
player_data_df["saves"] = player_data_df["saves"].fillna(0)
player_data_df["clean_sheets"] = player_data_df["clean_sheets"].fillna(0)
player_data_df["goals_against"] = player_data_df["goals_against"].fillna(0)
player_data_df["photo_url"] = player_data_df["photo_url"].fillna("N/A")
player_data_df["height_(ft)"] = player_data_df["height_(ft)"].fillna(0)
player_data_df["weight_(lbs)"] = player_data_df["weight_(lbs)"].fillna(0)
player_data_df["birthdate"] = player_data_df["birthdate"].fillna(dt.date(1111,11,11))

In [39]:
# Display Player Data dataframe
player_data_df.head(10)

,player_id,player_name,team_id,position_id,jersey_number,goals,assists,yellow_cards,red_cards,shots,shots_on_goal,saves,clean_sheets,goals_against,photo_url,height_(ft),weight_(lbs),birthdate,nationality_id
0,pl1,André Silva,tm1,pos1,21,0,0,0,0,2,1,0,0,0,https://assets.laliga.com/squad/2023/t188/p165...,6.08,183,1995-11-06 00:00:00,nat1
1,pl80,Bebé,tm8,pos1,10,2,0,1,0,9,4,0,0,0,https://assets.laliga.com/squad/2023/t184/p843...,6.25,183,1990-07-12 00:00:00,nat1
2,pl368,João Félix,tm19,pos1,14,1,2,1,0,24,10,1,0,0,https://assets.laliga.com/squad/2023/t178/p428...,5.92,152,1999-11-10 00:00:00,nat1
3,pl731,Gonçalo Paciência,tm35,pos1,9,1,0,2,0,10,3,0,0,0,https://assets.bundesliga.com/player/dfl-obj-0...,6.00,179,1994-08-01 00:00:00,nat1
4,pl949,Tiago Tomas,tm36,pos1,11,1,0,1,0,13,6,0,0,0,https://assets.bundesliga.com/player/dfl-obj-j...,5.92,150,2002-06-16 00:00:00,nat1
5,pl1848,Goncalo Ramos,tm59,pos1,9,2,0,0,0,19,5,0,0,0,https://www.ligue1.com/-/media/Project/LFP/sha...,6.08,172,2001-06-20 00:00:00,nat1
6,pl1974,Diego Moreira,tm61,pos1,19,0,0,0,0,2,1,0,0,0,https://www.ligue1.com/-/media/Project/LFP/sha...,5.83,161,2004-08-06 00:00:00,nat1
7,pl1881,Vitinha,tm68,pos1,9,2,0,1,0,14,4,1,0,0,https://www.ligue1.com/-/media/Project/LFP/sha...,5.83,161,2000-03-15 00:00:00,nat1
8,pl2623,João Gabriel E Costa Cesco,tm80,pos1,67,0,0,0,0,0,0,0,0,0,https://img.legaseriea.it/vimages/,5.83,-1,2005-03-28 00:00:00,nat1
9,pl2364,Rafael Leão,tm81,pos1,10,3,3,1,0,21,7,0,0,0,https://img.legaseriea.it/vimages/64e4967d/LEA...,6.17,179,1999-06-10 00:00:00,nat1

In [40]:
player_data_df.dtypes

player_id          object
player_name        object
team_id            object
position_id        object
jersey_number       int64
goals               int64
assists             int64
yellow_cards        int64
red_cards           int64
shots               int64
shots_on_goal       int64
saves               int64
clean_sheets        int64
goals_against       int64
photo_url          object
height_(ft)       float64
weight_(lbs)        int64
birthdate          object
nationality_id     object
dtype: object

In [41]:
teams_df.dtypes

team_id      object
team         object
league_id    object
dtype: object

In [42]:
leagues_df.dtypes

league_id    object
league       object
dtype: object

In [43]:
positions_df.dtypes

position_id    object
position       object
dtype: object

In [44]:
nationalities_df.dtypes

nationality_id    object
nationality       object
dtype: object

### Exports:
---

In [45]:
# Export CSV 1-Player Data
player_data_df.to_csv("../2-database_building/cleaned_data_exports/complete_player_data.csv", index=False)

In [46]:
# Export CSV 2-Teams Data
teams_df.to_csv("../2-database_building/cleaned_data_exports/complete_teams.csv", index=False)

In [47]:
# Export CSV 3-Leagues Data
leagues_df.to_csv("../2-database_building/cleaned_data_exports/complete_leagues.csv", index=False)

In [48]:
# Export CSV 4-Positions Data
positions_df.to_csv("../2-database_building/cleaned_data_exports/complete_positions.csv", index=False)

In [49]:
# Export CSV 5-Nationalities Data
nationalities_df.to_csv("../2-database_building/cleaned_data_exports/complete_nationalities.csv", index=False)